
#bj-header {
	position: absolute;
	height: 50px;
	top:0;
	left:0;
	right:0;
	background-color: #1e2a3d;
	/*z-index:150 !Important;*/
    background-image: linear-gradient(#2e4761, #1e2a3d);
	display:inline-block;
	z-index:20;
}

#bj-header.bj-user-view {
	position: absolute;
	height: 50px;
	top:0;
	left:0;
	right:0;
	background-color:#666699;
	background-image: linear-gradient(#8797ac, #6d8199);
	color:black;
	display:inline-block;
	z-index:20;
}
/*

#bj-header.bj-full-view {
	height:0;
	top:0;
	left:0;
	right:0;
	width:0;
}
*/

#bj-header .bj-menu{
	padding-top:16px;
	padding-bottom:16px;
	text-align:center;
	float:left;
	width:60px;
	height:100%;
	color:white;
}

#bj-header.bj-user-view .bj-menu{
	left:0;
	padding-left:20px;
	padding-top:16px;
	padding-bottom:16px;
	text-align:center;
	float:left;
	width:20px;
	height:100%;
	color:black;
}

.bj-menu #bj-back-glyph,.bj-menu #bj-menu-glyph{
	font-size:20px;
	font-family: "Glyphicons Halflings";
}

#bj-header #bj-nav{
	float:right;
	font-size:20px;
	padding-top:12px;
	text-align:center;
	width:60px;
	height:100%;
	color:white;
	font-family: "Glyphicons Halflings";
}

#bj-header.bj-user-view #bj-nav{
	float:right;
	padding-top:12px;
	text-align:center;
	width:60px;
	height:100%;
	color:black;
	font-family: "Glyphicons Halflings";
}

#bj-header #bj-menu-head{
	left:60px;
    right:60px;
	padding-top:14px;
	padding-bottom:18px;
	color:white;
    text-align:center;
    height:100%;
    width:auto;
	font-size:20px;
	position:absolute;
}

#bj-header.bj-user-view #bj-menu-head{
	left:60px;
    right:60px;
	padding-top:14px;
	padding-bottom:18px;
	color:#000000;
    text-align:center;
    height:100%;
    width:auto;
	font-size:20px;
	position:absolute;
}

/*css for bj-footer*/
.bj-footer {
	position: absolute;
	height: 50px;
	left:0;
	right:0;
	bottom:0;
	display: inline-flex;
}


.bj-footer.bj-full-view  {
	height: 0;
	left:0;
    right:0;
    bottom:0;
}

.bj-footer.bj-user-view .bj-back{
	float:left;
    width:25%;
    height:100%;
    padding-top: 14px;
    text-align:center;
	background-color:#8080ff;
	color:#000000;
}

.bj-footer .bj-back{
	float:left;
	width:30%;
	height:100%;
	padding-top: 14px;
	text-align:center;
	background-color:#015c8e;;
	color:#ffffff;
}

.bj-footer #bj-send-to-device,.bj-footer #bj-load-profile{
	float:right;
	width:70%;
	height:100%;
	padding-top: 10px;
	text-align:center;
	background-color:#0171af;;
	color:#015c8e;
	font-size:20px;
}

.bj-footer .glyphicon{
	font-size:20px;
}

.bj-footer #deactivate-testmode{
	width:100%;
	height:100%;
	padding-top: 10px;
	text-align:center;
	background-color:#0171af;;
	color:#ffffff;
	font-size:20px;
}

.bj-footer.bj-user-view {
	position: absolute;
	height: 50px;
	left:0;
	right:0;
	bottom:0;
	background-color:#ffffff;
	text-align:center;
	color:#093c5b;
	padding:14px;
	display: inline;
}
.bj-footer.user-settings{
    background-color: #ffffff;
}