<div class="bj-electrician-container"> 
    <div id="bj-empty-list" *ngIf="detectors"></div>
    <ul  (click)="configureDetector(detector)" *ngFor="let detector of detectors" class="bj-detectors-list">
        <li class="bj-detector-name">
            <div id="bj-detector-icon"><span class="glyphicon glyphicon-modal-window"></span></div>
            <span id="bj-detector-firmware-update" *ngIf="detector.fwupdate=='true'">firware update available</span>
            <span id="bj-detector-name-val">{{detector.btDeviceName}}</span>
            <span id="bj-detector-article-num">{{detector.modelNumber}}</span>
            <span id="bj-detector-icon-signal" >
                <div class="signal-bars four-bars" *ngIf="true">
                    <div class="first-bar bar"></div>
                    <div class="second-bar bar"></div>
                    <div class="third-bar bar"></div>
                    <div class="fourth-bar bar"></div>
                </div>
                <div class="signal-bars  three-bars" *ngIf="false">
                    <div class="first-bar bar"></div>
                    <div class="second-bar bar"></div>
                    <div class="third-bar bar"></div>
                    <div class="fourth-bar bar"></div>
                </div>
                <div class="signal-bars two-bars"*ngIf="false">
                    <div class="first-bar bar"></div>
                    <div class="second-bar bar"></div>
                    <div class="third-bar bar"></div>
                    <div class="fourth-bar bar"></div>
                </div>
                <div class="signal-bars  one-bar"*ngIf="false">
                    <div class="first-bar bar"></div>
                    <div class="second-bar bar"></div>
                    <div class="third-bar bar"></div>
                    <div class="fourth-bar bar"></div>
                </div>
            </span>
            <span id="nav-right" class="glyphicon glyphicon-menu-right"></span>
        </li>
    </ul>
</div>


