<div class="bj-electrician-container" (click)="removeIdentifyingDevice()"> 
    <div id="bj-empty-list" *ngIf="detectors"></div>
    <ul   *ngFor="let detector of detectors" class="bj-detectors-list">
        <li class="bj-detector-name">
            <div id="bj-detector-icon" (click)="identifyDevice(detector)" [ngStyle]="getMystyle(detector.identify)" >
            <span class="glyphicon glyphicon-modal-window"></span>
            </div>
            <span id="bj-detector-firmware-update" *ngIf="detector.fwupdate=='true'">{{ this.data.getTranslatedString("firware update available") }}</span>
            <span id="bj-detector-name-val">{{detector.btDeviceName}}</span>
            <span id="bj-detector-article-num">{{detector.modelNumber}}</span>
            <span id="bj-detector-icon-signal">
                <div class="signal-bars four-bars" *ngIf="getSignalRange(detector) > 3">
                    <div class="first-bar bar"></div>
                    <div class="second-bar bar"></div>
                    <div class="third-bar bar"></div>
                    <div class="fourth-bar bar"></div>
                </div>
                <div class="signal-bars  three-bars" *ngIf="getSignalRange(detector) == 3">
                    <div class="first-bar bar"></div>
                    <div class="second-bar bar"></div>
                    <div class="third-bar bar"></div>
                    <div class="fourth-bar bar"></div>
                </div>
                <div class="signal-bars two-bars" *ngIf="getSignalRange(detector) == 2">
                    <div class="first-bar bar"></div>
                    <div class="second-bar bar"></div>
                    <div class="third-bar bar"></div>
                    <div class="fourth-bar bar"></div>
                </div>
                <div class="signal-bars  one-bar" *ngIf="getSignalRange(detector) <= 1">
                    <div class="first-bar bar"></div>
                    <div class="second-bar bar"></div>
                    <div class="third-bar bar"></div>
                    <div class="fourth-bar bar"></div>
                </div>
            </span>
            <span id="nav-right" class="glyphicon glyphicon-menu-right" (click)="configureDetector(detector)"></span>
        </li>
    </ul>
    <div class="searching_spinner">
        <div class="spinner_waiting"></div>
        <br/>
        <span class="span1">Searching for devices</span>
    </div>
</div>



