<div class="bj-config-container">
<div id="bj-detection-range-div">
    <div class="bj-sensor-toggle outdoor-application">
        <label class="bj-config-setting inner-setting outdoor-application-function">Outdoor application</label>
            <span class="bj-config-toggle-switch">
                  <div class="track"  [ngStyle]="{'border-color': true ? '#26394f':'#c0c1c3'}">
                      <label class="switch-onlabel" *ngIf="true">{{onLabel}}</label>
                      <label class="switch-offlabel" *ngIf="false">{{offLabel}}</label>
                      <div class="switch" [ngClass]="{'switch-on':rue,'switch-off':false}" [ngStyle]="{'background-color':true ? '#26394f':'#ccc'}"></div>
                  </div>
            </span>
    </div>
    <div class="detection-outdoor-div" >
        <div class="detection-outdoor-top-quadrants">
            <div class="detection-outdoor-quadrant q1"  [ngStyle]="{'background':true ? '#0076b7' :'#f9fafc'}">
                <label class="detection-quad-value q1-val">25%</label></div>
            <div class="detection-outdoor-quadrant q2"  [ngStyle]="{'background':false ? '#0076b7' :'#f9fafc'}">
                <label class="detection-quad-value q2-val">50%</label></div>
        </div>
        <div id="detection-outdoor-inner-ring">
            <div id="detection-outdoor-inner-icon">
                <span class="glyphicon glyphicon-modal-window"></span>
            </div>
        </div>
        <div class="detection-outdoor-bottom-quadrants">
            <div class="detection-outdoor-quadrant q3"  [ngStyle]="{'background':true ? '#0076b7' :'#f9fafc'}">
                <label class="detection-quad-value q3-val">75%</label></div>
            <div class="detection-outdoor-quadrant q4"  [ngStyle]="{'background':false? '#0076b7' :'#f9fafc'}">
                <label class="detection-quad-value q4-val">100%</label></div>
        </div>
        <div class="bj-detection-outdoor-slider">
            <div ng-click="setValue(0)"><input id="value0" type="radio"  value="0" />
                <div class="detection-slider-value value0"  ></div>
            </div>
            <div  ng-click="setValue(25)"><input id="value25" type="radio"  value="25" />
                 <div class="detection-slider-value value25" ></div>
            </div>
            <div ng-click="setValue(50)"><input id="value50" type="radio"  value="50" />
                <div class="detection-slider-value value50" ></div>
            </div>
            <div ng-click="setValue(75)"><input id="value75" type="radio"  value="75" />
                <div class="detection-slider-value value75" ></div>
            </div>
            <div ng-click="setValue(100)"><input id="value100" type="radio"  value="100" />
                <div class="detection-slider-value value100" ></div>
            </div>
        </div>
    </div>
</div>