<div class="bj-config-container-user">
<div id="bj-user-energymonitor-div">
    <div id="user-energymonitor-tabpanel">
        <ul class="nav nav-tabs">
            <li class="energy-monitor-month" [ngClass]="{'active': activeTab === 1}"(click)="setActiveTab(1)" >{{ this.data.getTranslatedString("Month Overview") }}</li>
            <li class="energy-monitor-year" [ngClass]="{'active': activeTab === 2}" (click)="setActiveTab(2)" >{{ this.data.getTranslatedString("Year Overview") }}</li>
        </ul>
    </div>
    <div id="user-energymonitor-tab-content">
        <div class="tab-pane month" *ngIf="activeTab === 1">
            <div id="user-energymonitor-currentMonth">{{ getTranslated(ad.energyMonitor.energyMonitorMonth) }}</div>
            <div class="monthBarGraph">
                <div class="barGraphPanel month">
                    <div class="barGraphMonth" *ngFor="let data of ad.energyMonitor.energyMonitorMonthData">
                        <div class="monthly-max-threshold"  *ngIf="getShowData(data)" [ngStyle]="getShowData(data) == true ? {'background-color':'red'}:{'background-color':'transparent'}">
                            <div class="month-graph-max">{{maxMonth}} h</div>
                        </div>
                        <div class="energymonitor-maximum-monthly" >
                            <div class="monthly-bar-graph" [ngStyle]="getStyle(data,false)" (click)="showDataForBar(data)">
                                <div class="month-graph-value" *ngIf="getShowData(data)">{{data.data}} h</div>
                            </div>
                        </div>
                        <div class="energymonitor-month-info">{{data.week}}</div>
                    </div>
                </div>
            </div>

        </div>
        <div class="tab-pane year"  *ngIf="activeTab === 2">
            <div id="user-energymonitor-currentMonth" >{{ad.energyMonitor.energyMonitorYear}}</div>
            <div class="yearBarGraph">
                <div class="barGraphPanel">
                    <div class="barGraphMonth" *ngFor="let data of ad.energyMonitor.energyMonitorYearData">
                            <div class="monthly-max-threshold" *ngIf="getShowData(data)" [ngStyle]="getShowData(data) == true ? {'background-color':'red'}:{'background-color':'transparent'}">
                            <div class="month-graph-max">{{maxYear}} h</div>
                        </div>
                        <div class="energymonitor-maximum-monthly">
                            <div class="monthly-bar-graph" [ngStyle]="getStyle(data,true)" (click)="showDataForBar(data)">
                                <div class="month-graph-value" *ngIf="getShowData(data)">{{data.data}} h</div>
                            </div>
                        </div>
                        <div class="energymonitor-month-info">{{data.month}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="energymonitor-details">
            <div class="details current-duration">
                <label class="current-duration month" *ngIf="activeTab === 1">{{currentDurationMonthText}}</label>
                <label class="current-duration month" *ngIf="activeTab === 2">{{currentDurationYearText}}</label>
                <label class="current-duration-value month" *ngIf="activeTab === 1">{{currentDurationMonthValue}} h</label>
                <label class="current-duration-value month" *ngIf="activeTab === 2">{{currentDurationYearValue}} h</label>
            </div>
            <div class="details total-savings">
                <label class="total-savings month">{{TotalSavingsMonthText}}</label>
                <label class="total-savings-value month" *ngIf="activeTab === 1">{{TotalSavingsMonthValue}}$</label>
                <label class="total-savings-value month" *ngIf="activeTab === 2">{{TotalSavingsYearValue}}$</label>
            </div>
            <div class="user-sensor-settings" *ngIf="activeTab === 2" >{{ this.data.getTranslatedString("Sensor settings") }}</div>
            <div class="details reference-details" (click)="gotoReference()"><ng-container >{{ this.data.getTranslatedString("Reference details") }}</ng-container><span class="glyphicon glyphicon-menu-right"></span></div>
            <div class="details reset-data" (click)="resetEM()" ><ng-container >{{ this.data.getTranslatedString("Reset data") }}</ng-container><span class="glyphicon glyphicon-remove"></span></div>
        </div>
    </div>
</div>
<div class="secondLevel-config-container" ui-view="thirdLevelU"></div>
</div>