<div class="settime-dialog-overlay" [ngClass]="{'bj-user-view': getProfile() == 'user'}">
    <div class="settime-dialog" [ngClass]="{'bj-user-view': getProfile() == 'user'}">
        <div class="settime-dialog-header"><label class="dialog-heading"> Set time </label></div>
            <div class="time_container">
                <div class="time_wrapper outside">
                    <form name="date">
                        <div class="lines">
                            <div>
                                <span class="mins_colon">:</span>
                                <span class="secs_colon">:</span>
                            </div>
                        </div>
                        <select #bjehours  class="date" id="hours" name="hours"  style="display: none;"  >
                            <option value="00">00</option>
                            <option value="01">01</option>
                            <option value="02">02</option>
                            <option value="03">03</option>
                            <option value="04">04</option>
                            <option value="05">05</option>
                            <option value="06">06</option>
                            <option value="07">07</option>
                            <option value="08">08</option>
                            <option value="09">09</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                        </select>
                        <!-- <div style="display: none;" class="drum-wrapper" id="drum_hours" style="user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); touch-action: pan-y;">
                            <div class="inner">
                            <div class="container">
                                <div class="drum" style="transform: translateZ(-111px) rotateX(112.5deg);">
                                    <figure class="a0" style="opacity: 0.5; transform: rotateX(0deg) translateZ(111px);">00</figure>
                                    <figure class="a2250" style="opacity: 0.5; transform: rotateX(-22.5deg) translateZ(111px);">01</figure>
                                    <figure class="a4500" style="opacity: 0.5; transform: rotateX(-45deg) translateZ(111px);">02</figure>
                                    <figure class="a6750" style="opacity: 0.5; transform: rotateX(-67.5deg) translateZ(111px);">03</figure>
                                    <figure class="a9000" style="opacity: 0.5; transform: rotateX(-90deg) translateZ(111px);">04</figure>
                                    <figure class="a11250" style="opacity: 1; transform: rotateX(-112.5deg) translateZ(111px);">05</figure>
                                    <figure class="a13500" style="opacity: 0.5; transform: rotateX(-135deg) translateZ(111px);">06</figure>
                                    <figure class="a15750" style="opacity: 0.5; transform: rotateX(-157.5deg) translateZ(111px);">07</figure>
                                    <figure class="a18000" style="opacity: 0.5; transform: rotateX(-180deg) translateZ(111px);">08</figure>
                                    <figure class="a20250" style="opacity: 0.5; transform: rotateX(-202.5deg) translateZ(111px);">09</figure>
                                    <figure class="a22500" style="opacity: 0.5; transform: rotateX(-225deg) translateZ(111px);">10</figure>
                                    <figure class="a24750" style="opacity: 0.5; transform: rotateX(-247.5deg) translateZ(111px);">11</figure>
                                    <figure class="a27000" style="opacity: 0.5; transform: rotateX(-270deg) translateZ(111px);">12</figure>
                                    <figure class="a29250" style="opacity: 0.5; transform: rotateX(-292.5deg) translateZ(111px);">21</figure>
                                    <figure class="a31500" style="opacity: 0.5; transform: rotateX(-315deg) translateZ(111px);">22</figure>
                                    <figure class="a33750" style="opacity: 0.5; transform: rotateX(-337.5deg) translateZ(111px);">23</figure>
                                </div>
                            </div>
                            </div>
                            <div class="dial up">
                            <div>
                                <svg width="20" height="5">
                                    <g>
                                        <path fill="none" stroke="#999999" stroke-width="1px" stroke-linecap="butt" stroke-linejoin="miter" stroke-opacity="1" d="m0,6l10,-5l10,5"></path>
                                    </g>
                                </svg>
                            </div>
                            </div>
                            <div class="dial down">
                            <div>
                                <svg width="20" height="5">
                                    <g>
                                        <path fill="none" stroke="#999999" stroke-width="1px" stroke-linecap="butt" stroke-linejoin="miter" stroke-opacity="1" d="m0,-1l10,5l10,-5"></path>
                                    </g>
                                </svg>
                            </div>
                            </div>
                        </div> -->
                        <select #bjeminutes  class="date" id="minutes" name="minutes" style="display: none;">
                            <option value="00">00</option>
                            <option value="01">01</option>
                            <option value="02">02</option>
                            <option value="03">03</option>
                            <option value="04">04</option>
                            <option value="05">05</option>
                            <option value="06">06</option>
                            <option value="07">07</option>
                            <option value="08">08</option>
                            <option value="09">09</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                            <option value="31">31</option>
                            <option value="32">32</option>
                            <option value="33">33</option>
                            <option value="34">34</option>
                            <option value="35">35</option>
                            <option value="36">36</option>
                            <option value="37">37</option>
                            <option value="38">38</option>
                            <option value="39">39</option>
                            <option value="40">40</option>
                            <option value="41">41</option>
                            <option value="42">42</option>
                            <option value="43">43</option>
                            <option value="44">44</option>
                            <option value="45">45</option>
                            <option value="46">46</option>
                            <option value="47">47</option>
                            <option value="48">48</option>
                            <option value="49">49</option>
                            <option value="50">50</option>
                            <option value="51">51</option>
                            <option value="52">52</option>
                            <option value="53">53</option>
                            <option value="54">54</option>
                            <option value="55">55</option>
                            <option value="56">56</option>
                            <option value="57">57</option>
                            <option value="58">58</option>
                            <option value="59">59</option>
                        </select>
                        <div   class="drum-wrapper" id="drum_minutes" style="user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); touch-action: pan-y;">
                            <div class="inner">
                            <div class="container">
                                <div class="drum" style="transform: translateZ(-111px) rotateX(247.5deg);">
                                    <figure class="a0" style="opacity: 0.5; transform: rotateX(0deg) translateZ(111px);">04</figure>
                                    <figure class="a2250" style="opacity: 0.5; transform: rotateX(-22.5deg) translateZ(111px);">05</figure>
                                    <figure class="a4500" style="opacity: 0.5; transform: rotateX(-45deg) translateZ(111px);">06</figure>
                                    <figure class="a6750" style="opacity: 0.5; transform: rotateX(-67.5deg) translateZ(111px);">51</figure>
                                    <figure class="a9000" style="opacity: 0.5; transform: rotateX(-90deg) translateZ(111px);">52</figure>
                                    <figure class="a11250" style="opacity: 0.5; transform: rotateX(-112.5deg) translateZ(111px);">53</figure>
                                    <figure class="a13500" style="opacity: 0.5; transform: rotateX(-135deg) translateZ(111px);">54</figure>
                                    <figure class="a15750" style="opacity: 0.5; transform: rotateX(-157.5deg) translateZ(111px);">55</figure>
                                    <figure class="a18000" style="opacity: 0.5; transform: rotateX(-180deg) translateZ(111px);">56</figure>
                                    <figure class="a20250" style="opacity: 0.5; transform: rotateX(-202.5deg) translateZ(111px);">57</figure>
                                    <figure class="a22500" style="opacity: 0.5; transform: rotateX(-225deg) translateZ(111px);">58</figure>
                                    <figure class="a24750" style="opacity: 1; transform: rotateX(-247.5deg) translateZ(111px);">59</figure>
                                    <figure class="a27000" style="opacity: 0.5; transform: rotateX(-270deg) translateZ(111px);">00</figure>
                                    <figure class="a29250" style="opacity: 0.5; transform: rotateX(-292.5deg) translateZ(111px);">01</figure>
                                    <figure class="a31500" style="opacity: 0.5; transform: rotateX(-315deg) translateZ(111px);">02</figure>
                                    <figure class="a33750" style="opacity: 0.5; transform: rotateX(-337.5deg) translateZ(111px);">03</figure>
                                </div>
                            </div>
                            </div>
                            <div class="dial up">
                            <div>
                                <svg width="20" height="5">
                                    <g>
                                        <path fill="none" stroke="#999999" stroke-width="1px" stroke-linecap="butt" stroke-linejoin="miter" stroke-opacity="1" d="m0,6l10,-5l10,5"></path>
                                    </g>
                                </svg>
                            </div>
                            </div>
                            <div class="dial down">
                            <div>
                                <svg width="20" height="5">
                                    <g>
                                        <path fill="none" stroke="#999999" stroke-width="1px" stroke-linecap="butt" stroke-linejoin="miter" stroke-opacity="1" d="m0,-1l10,5l10,-5"></path>
                                    </g>
                                </svg>
                            </div>
                            </div>
                        </div>
                          <select class="date" id="seconds" name="minutes" style="display: none;">
                            <option value="00">00</option>
                            <option value="01">01</option>
                            <option value="02">02</option>
                            <option value="03">03</option>
                            <option value="04">04</option>
                            <option value="05">05</option>
                            <option value="06">06</option>
                            <option value="07">07</option>
                            <option value="08">08</option>
                            <option value="09">09</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                            <option value="31">31</option>
                            <option value="32">32</option>
                            <option value="33">33</option>
                            <option value="34">34</option>
                            <option value="35">35</option>
                            <option value="36">36</option>
                            <option value="37">37</option>
                            <option value="38">38</option>
                            <option value="39">39</option>
                            <option value="40">40</option>
                            <option value="41">41</option>
                            <option value="42">42</option>
                            <option value="43">43</option>
                            <option value="44">44</option>
                            <option value="45">45</option>
                            <option value="46">46</option>
                            <option value="47">47</option>
                            <option value="48">48</option>
                            <option value="49">49</option>
                            <option value="50">50</option>
                            <option value="51">51</option>
                            <option value="52">52</option>
                            <option value="53">53</option>
                            <option value="54">54</option>
                            <option value="55">55</option>
                            <option value="56">56</option>
                            <option value="57">57</option>
                            <option value="58">58</option>
                            <option value="59">59</option>
                        </select>
                        <div class="drum-wrapper" id="drum_seconds" style="user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); touch-action: pan-y;">
                            <div class="inner">
                            <div class="container">
                                <div class="drum" style="transform: translateZ(-111px) rotateX(247.5deg);">
                                    <figure class="a0" style="opacity: 0.5; transform: rotateX(0deg) translateZ(111px);">04</figure>
                                    <figure class="a2250" style="opacity: 0.5; transform: rotateX(-22.5deg) translateZ(111px);">05</figure>
                                    <figure class="a4500" style="opacity: 0.5; transform: rotateX(-45deg) translateZ(111px);">06</figure>
                                    <figure class="a6750" style="opacity: 0.5; transform: rotateX(-67.5deg) translateZ(111px);">51</figure>
                                    <figure class="a9000" style="opacity: 0.5; transform: rotateX(-90deg) translateZ(111px);">52</figure>
                                    <figure class="a11250" style="opacity: 0.5; transform: rotateX(-112.5deg) translateZ(111px);">53</figure>
                                    <figure class="a13500" style="opacity: 0.5; transform: rotateX(-135deg) translateZ(111px);">54</figure>
                                    <figure class="a15750" style="opacity: 0.5; transform: rotateX(-157.5deg) translateZ(111px);">55</figure>
                                    <figure class="a18000" style="opacity: 0.5; transform: rotateX(-180deg) translateZ(111px);">56</figure>
                                    <figure class="a20250" style="opacity: 0.5; transform: rotateX(-202.5deg) translateZ(111px);">57</figure>
                                    <figure class="a22500" style="opacity: 0.5; transform: rotateX(-225deg) translateZ(111px);">58</figure>
                                    <figure class="a24750" style="opacity: 1; transform: rotateX(-247.5deg) translateZ(111px);">59</figure>
                                    <figure class="a27000" style="opacity: 0.5; transform: rotateX(-270deg) translateZ(111px);">00</figure>
                                    <figure class="a29250" style="opacity: 0.5; transform: rotateX(-292.5deg) translateZ(111px);">01</figure>
                                    <figure class="a31500" style="opacity: 0.5; transform: rotateX(-315deg) translateZ(111px);">02</figure>
                                    <figure class="a33750" style="opacity: 0.5; transform: rotateX(-337.5deg) translateZ(111px);">03</figure>
                                </div>
                            </div>
                            </div>
                            <div class="dial up">
                            <div>
                                <svg width="20" height="5">
                                    <g>
                                        <path fill="none" stroke="#999999" stroke-width="1px" stroke-linecap="butt" stroke-linejoin="miter" stroke-opacity="1" d="m0,6l10,-5l10,5"></path>
                                    </g>
                                </svg>
                            </div>
                            </div>
                            <div class="dial down">
                            <div>
                                <svg width="20" height="5">
                                    <g>
                                        <path fill="none" stroke="#999999" stroke-width="1px" stroke-linecap="butt" stroke-linejoin="miter" stroke-opacity="1" d="m0,-1l10,5l10,-5"></path>
                                    </g>
                                </svg>
                            </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div> 
            <div class="settime-dialog-footer">
            <div class="dialog-cancel-btn" (click)="cancelStuff()"><img class="reset-cancel" src="assets/icons/05_017_button_delete_prs.svg" alt="cancel_btn"></div>
            <div class="dialog-ok-btn" (click)="doStuff()" ><img class="reset-save" src="assets/icons/05_004_button_save_prs.svg" alt="save_btn"></div>
        </div>
    </div>
</div>