
.dialog-cancel-btn{
	float:left;
	width:30%;
	height:100%;
	text-align:center;
	background: #02507c;
}

.dialog-ok-btn{
	height:100%;
	background: #0171ae;
	text-align:center;
}

label.dialog-heading {
	padding: 14px;
	color: #697d96;
	font-weight: 400;
	font-size: 20px;
}
img.reset-save{
	margin-top:18px;
}
.settime-dialog-header{
	height:50px;
	left:0;
	right:0;
	top:0;
	background:#eeeff0;
	border-bottom:1px solid #d2dadf;
	text-align:center;
}

.settime-dialog.bj-user-view div.settime-dialog-header {
    background-color: #eeeff0;
}

.settime-dialog.bj-user-view div.settime-dialog-header label.dialog-heading {
    color: #000000;
}

.settime-dialog.bj-user-view div.settime-dialog-body label.dialog-text {
    margin-top: 160px;
    color: #000000;
}
.settime-dialog-body{
	left:0;
	right:0;
	top:50px;
	background:white;
	bottom:60px;
	position:absolute;
}


.settime-dialog-footer{
	bottom:0;
	left:0;
	right:0;
	height:60px;
	position:absolute;
}
img.reset-cancel{
	margin-top:18px;
}

.settime-dialog.bj-user-view div.settime-dialog-footer div.dialog-cancel-btn {
    background-color: #bfbfbf;
    border-right: 1px solid #a7a9ac;
}

.settime-dialog.bj-user-view div.settime-dialog-footer div.dialog-ok-btn {
    background: #bfbfbf;
}

.settime-dialog-overlay{
	position:absolute;
	/* z-index:100; */
	top:0;
	left:0;
	width:100%;
	height:100%;
    background-color: rgba(0,0,0,0.8);
}

.settime-dialog {
	right: 40px;
	left: 40px;
	top: 80px;
	bottom: 200px;
	/* z-index:100; */
	box-shadow: 4px 4px 80px #000;
	position: absolute;
	opacity: 1;
}

img.settime-cancel{
	margin-top:18px;
}


img.settime-save{
	margin-top:18px;
}

.time_container{
	/* z-index:100; */
	background: #bfbfbf;
    align-content: center;
	text-align: center;
	left:0;
	right:0;
	font-size: 24px;
	top:50px;
	bottom:60px;
	position:absolute;
}
.time_wrapper{
	/* z-index:100; */
	margin-top: 30px;
    display: inline-block;
	width: 200px
}

.time_wrapper form{
	/* z-index:100; */
	position: relative;
}

.lines{
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-top: solid 1px #CCC;
    border-bottom: solid 1px #CCC;
    position: absolute;
    top: 57px;
    left: 0px;
    width: 200px;
    height: 40px;
}

.drum-wrapper {
    float: left;
}
.drum-wrapper.container,
.drum-wrapper figure {
    height: 44px;
    line-height: 65px;
}
#drum_hours .dial div {
    margin: 0 7px;
    visibility: hidden;
}

.outside.drum-wrapper.dial {
    background-color: transparent;
}

.drum-wrapper, 
.drum-wrapper .inner {
    height: 150px;
}
.mins_colon{
	margin-left: -25px;
}
.secs_colon{
	margin-left: 45px;
}
#drum_hours {
    margin-left: 10px;
}
 #drum_hours, #drum_minutes, #drum_seconds {
    width: 60px;
}