<span class="bj-config-toggle-switch">
    <div class="track"  (click)="ad.constantLightControlEnable = !ad.constantLightControlEnable"  [(ngModel)]="ad.constantLightControlEnable" [ngStyle]="{'border-color': ad.constantLightControlEnable == true ? '#26394f':'#c0c1c3'}" ngDefaultControl>
        <label class="switch-onlabel" *ngIf="ad.constantLightControlEnable == true">{{onLabel}}</label>
        <label class="switch-offlabel" *ngIf="ad.constantLightControlEnable == false">{{offLabel}}</label>
        <div class="switch" [ngClass]="{'switch-on':ad.constantLightControlEnable == true,'switch-off':ad.constantLightControlEnable == false}" [ngStyle]="{'background-color':ad.constantLightControlEnable== true ? '#26394f':'#ccc'}"></div>
    </div>
</span>