<div class="bj-installed-container" [@subMenuSlideIn]="subMenuState" style="overflow-y: scroll;" >
	
	<div class="bj-sensor-setting">
		<label class="section" i18n>Sensor settings</label>
		<div>
			<label i18n>Block potentiometer setting</label>
			<span *ngIf="ad.potentiometerMode == 0" i18n>Enabled</span>
			<span *ngIf="ad.potentiometerMode == 1" i18n>Disabled</span>
			<span *ngIf="ad.potentiometerMode == 2">Limited</span>
		</div>
		
		<!--<div>
		<label>Comfort function</label>
		<span>{{Comfortfunction}}</span>
		</div>-->
		
    
		<div *ngIf="activeDevice.deviceType == 'daliMaster1c'">
		<label>Constant light regulation</label>
			<span *ngIf="ad.constantLightControlEnable == true">on</span>
			<span *ngIf="ad.constantLightControlEnable == false" i18n>OFF</span>
		</div>
		
		<div>
		<label i18n>brightness threshold</label>
		<span>{{ad.brightnessThreshold}} lux</span>
		</div>
		
		<div *ngIf="activeDevice.deviceType == 'daliMaster1c'">
		<label i18n>Consider slave brightness</label>
			<span *ngIf="ad.constantLightControlEnable == true">on</span>
			<span *ngIf="ad.constantLightControlEnable == false" i18n>OFF</span>
		</div>
		
		<div *ngIf="activeDevice.deviceType == 'daliMaster1c'">
		<label>Limit  of room  brightness</label>
			<span *ngIf="ad.delimitLightingLevelEnable == true">ON</span>
			<span *ngIf="ad.delimitLightingLevelEnable == false" i18n>OFF</span>
		</div>
		
		<div>
		<label i18n>Smallest value as reference</label>
			<span *ngIf="ad.constantLightControlConsiderSlaveBrightnessEnable == true">ON</span>
			<span *ngIf="ad.constantLightControlConsiderSlaveBrightnessEnable == false" i18n>OFF</span>
		</div>
		
		<div *ngIf="activeDevice.deviceType == 'relay1c' || activeDevice.deviceType == 'mosfet1c'">
		<label i18n>Short-time pulse</label>
			<span *ngIf="ad.shortTimePulseEnable == true">ON</span>
			<span *ngIf="ad.shortTimePulseEnable == false" i18n>OFF</span>
		</div>
		
		<div *ngIf="(((activeDevice.deviceType == 'relay1c' || activeDevice.deviceType == 'mosfet1c') && ad.shortTimePulseEnable == false) || activeDevice.deviceType == 'daliMaster1c')">
		<label i18n>Switch-off delay</label>
			<span>{{ad.switchOffDelay}} min</span>
		</div>
		
		<div (click)="gotoInstalledParams('additional','Additional sensor parameters')">
		<label i18n>Additional sensor parameters</label>
		<next-nav></next-nav>
		</div>

  
	  	<label class="section" i18n>Operating mode</label>
	  	<div>
	  	<label i18n>Operating mode</label>
	  		<span *ngIf="ad.operationMode == 0" i18n>Automatic</span>
			<span *ngIf="ad.operationMode == 1" i18n>Semiautomatic</span>
			<span *ngIf="ad.operationMode == 2" i18n>Semiautomatic, comfort</span>
	  	</div>
  
  
 
	  <label class="section" i18n>Actuator settings</label>
	  
	 <div (click)="gotoInstalledParams('actuator1','Settings of actuator1')">
	  <label i18n>Settings of actuator 1</label>
	  	<next-nav></next-nav>
	  </div>
	   
	  <div (click)="gotoInstalledParams('actuator2','Settings of actuator2')">
	  <label>Settings of actuator 2</label>
	  	<next-nav></next-nav>
	  </div>


	  <label class="section" i18n>Service</label>
	   
	   <div>
	   <label i18n>Saved profile</label>
	   <span>Garage</span>
	   </div>
	   
	   <div> 
	   <label>Firmware</label>
	   <span>{{activeDevice.firmwareVersion}}</span>
	   </div>
	   
	    <div (click)="gotoInstalledParams('emonitor','Energy monitor')">
	   <label i18n>Energy monitor</label>
	   	<next-nav></next-nav>
	   </div>

	  <label class="section">Commissioning</label>
	    <div (click)="gotoInstalledParams('pins','Set pins')">
	   <label>PINs</label>
		<next-nav></next-nav>
	   </div>
	   
	   <div (click)="gotoInstalledParams('buildingallocation','Building allocation')">
	  <label i18n>Building allocation</label>
		<next-nav></next-nav>
	  </div>
	  
	  <div (click)="gotoInstalledParams('enablesettings','Enable user settings')">
	  <label i18n>Enable settings</label>
		<next-nav></next-nav>
	  </div>

</div>  <!--   bj sensor setting class ending  -->	
</div>



