<div class="bj-installed-container" [@subMenuSlideIn]="subMenuState" style="overflow-y: scroll;" >
	
	<div class="bj-sensor-setting">
		<label class="section">Sensor settings</label>
		<div>
			<label>Block potentiometer setting</label>
			<span *ngIf="ad.potentiometerMode == 0">Enabled</span>
			<span *ngIf="ad.potentiometerMode == 1">Disabled</span>
			<span *ngIf="ad.potentiometerMode == 2">Limited</span>
		</div>
		
		<!--<div>
		<label>Comfort function</label>
		<span>{{Comfortfunction}}</span>
		</div>-->
		
    
		<div *ngIf="activeDevice.deviceType == 'daliMaster1c'">
		<label>Constant light regulation</label>
			<span *ngIf="ad.constantLightControlEnable == true">on</span>
			<span *ngIf="ad.constantLightControlEnable == false">off</span>
		</div>
		
		<div>
		<label>brightness threshold</label>
		<span>{{ad.brightnessThreshold}} lux</span>
		</div>
		
		<div *ngIf="activeDevice.deviceType == 'daliMaster1c'">
		<label>Consider slave brightness</label>
			<span *ngIf="ad.constantLightControlEnable == true">on</span>
			<span *ngIf="ad.constantLightControlEnable == false">off</span>
		</div>
		
		<div *ngIf="activeDevice.deviceType == 'daliMaster1c'">
		<label>Limit  of room  brightness</label>
			<span *ngIf="ad.delimitLightingLevelEnable == true">ON</span>
			<span *ngIf="ad.delimitLightingLevelEnable == false">OFF</span>
		</div>
		
		<div>
		<label>Smallest value as reference</label>
			<span *ngIf="ad.constantLightControlConsiderSlaveBrightnessEnable == true">ON</span>
			<span *ngIf="ad.constantLightControlConsiderSlaveBrightnessEnable == false">OFF</span>
		</div>
		
		<div *ngIf="activeDevice.deviceType == 'relay1c' || activeDevice.deviceType == 'mosfet1c'">
		<label>Short-time pulse</label>
			<span *ngIf="ad.shortTimePulseEnable == true">ON</span>
			<span *ngIf="ad.shortTimePulseEnable == false">OFF</span>
		</div>
		
		<div *ngIf="(((activeDevice.deviceType == 'relay1c' || activeDevice.deviceType == 'mosfet1c') && ad.shortTimePulseEnable == false) || activeDevice.deviceType == 'daliMaster1c')">
		<label>Switch-off delay</label>
			<span>{{ad.switchOffDelay}} min</span>
		</div>
		
		<div (click)="gotoInstalledParams('additional','Additional sensor parameters')">
		<label>Additional sensor parameters</label>
		<next-nav></next-nav>
		</div>

  
	  	<label class="section">Operating mode</label>
	  	<div>
	  	<label>Operating mode</label>
	  		<span *ngIf="operationMode == 0">Automatic</span>
			<span *ngIf="operationMode == 1">Semiautomatic</span>
			<span *ngIf="operationMode == 2">Semiautomatic comfort</span>
	  	</div>
  
  
 
	  <label class="section">Actuator settings</label>
	  
	 <div (click)="gotoInstalledParams('actuator1','Settings of actuator1')">
	  <label>Setttings of actuator 1</label>
	  	<next-nav></next-nav>
	  </div>
	   
	  <div (click)="gotoInstalledParams('actuator2','Settings of actuator2')">
	  <label>Setttings of actuator 2</label>
	  	<next-nav></next-nav>
	  </div>


	  <label class="section">Service</label>
	   
	   <div>
	   <label>Saved profile</label>
	   <span>Garage</span>
	   </div>
	   
	   <div> 
	   <label>Firmware</label>
	   <span>{{activeDevice.firmwareVersion}}</span>
	   </div>
	   
	    <div (click)="gotoInstalledParams('emonitor','Energy monitor')">
	   <label>Energy Monitor</label>
	   	<next-nav></next-nav>
	   </div>

	  <label class="section">Commissioning</label>
	    <div (click)="gotoInstalledParams('pins','Set pins')">
	   <label>PINs</label>
		<next-nav></next-nav>
	   </div>
	   
	   <div (click)="gotoInstalledParams('buildingallocation','Building allocation')">
	  <label>Building allocation</label>
		<next-nav></next-nav>
	  </div>
	  
	  <div (click)="gotoInstalledParams('enablesettings','Enable user settings')">
	  <label>Enable settings</label>
		<next-nav></next-nav>
	  </div>

</div>  <!--   bj sensor setting class ending  -->	
</div>



