<div class="bj-installed-container" [@subMenuSlideIn]="subMenuState" style="overflow-y: scroll;" >
	<div *ngIf="data.getIParam() == 'additional'">
		<div class="bj-sensor-setting">
		
		<div >
		<label>Brightness correction value</label>
		<span>{{ad.brightnessCorrectionValue}} lux</span>
		</div>
		
		<div>
		<label>Dynamic switch-off delay</label>
		<span *ngIf="ad.DynamicSwitchOffDelayEnable ==  true">on</span>		
		<span *ngIf="ad.DynamicSwitchOffDelayEnable ==  false">off</span>
		</div>

	</div>
	
    <div class="detection-outdoor-div">
        <div class="detection-outdoor-top-quadrants">
            <div class="detection-outdoor-quadrant q1" [ngStyle]="getMystyle('q1')">
                <label class="detection-quad-value q1-val">{{ad.pirSensitivity0}}%</label></div>
            <div class="detection-outdoor-quadrant q2" [ngStyle]="getMystyle('q2')">
                <label class="detection-quad-value q2-val">{{ad.pirSensitivity1}}%</label></div>
        </div>
        <div id="detection-outdoor-inner-ring">
            <div id="detection-outdoor-inner-icon">
                <span class="glyphicon glyphicon-modal-window"></span>
            </div>
        </div>
        <div class="detection-outdoor-bottom-quadrants">
            <div class="detection-outdoor-quadrant q3" [ngStyle]="getMystyle('q3')">
                <label class="detection-quad-value q3-val">{{ad.pirSensitivity2}}%</label></div>
            <div class="detection-outdoor-quadrant q4" [ngStyle]="getMystyle('q4')">
                <label class="detection-quad-value q4-val">{{ad.pirSensitivity3}}%</label></div>
        </div>	

		<div class="bj-sensor-setting">
			<div class="bj-installed-outdoor">
				<label>Outdoor application</label>
					<span *ngIf="ad.outdoorApplicationEnable ==  true">on</span>		
					<span *ngIf="ad.outdoorApplicationEnable ==  false">off</span>
			</div>
		</div>

	</div>
	</div>
	<div *ngIf="data.getIParam() == 'actuator1'">
		<div class="bj-container" style="overflow-y: scroll;" >
			<div class="bj-sensor-setting">	
				<div *ngIf="activeDevice.deviceType == 'mosfet1c' || activeDevice.deviceType == 'relay1c'">
					<div class="actuatorsection" (click)="showCircuitSettings=!showCircuitSettings">	
					<label> Circuit logic </label>
						<up-nav *ngIf="showCircuitSettings"></up-nav>
						<down-nav *ngIf="!showCircuitSettings"></down-nav>
					</div>

					<div  *ngIf="showCircuitSettings" >
						<label *ngIf="ad.ch1CircuitLogic ==  0">NC contact</label>
						<label *ngIf="ad.ch1CircuitLogic ==  1">NO contact</label>
					</div>
				</div>

				<div>
				<div class="actuatorsection" (click)="showDurableSwitchingSettings=!showDurableSwitchingSettings">
				<label>Continuous ON/OFF switching</label> 
					<up-nav  *ngIf="showDurableSwitchingSettings"></up-nav>
					<down-nav *ngIf="!showDurableSwitchingSettings"></down-nav>
				</div>
				
				
				<div  *ngIf="showDurableSwitchingSettings" >
				<label>Permanent ON for ...</label>
				<span>{{ad.ch1PermanentOnDuration}}</span>
				</div>

				<div  *ngIf="showDurableSwitchingSettings" >
				<label>Permanent OFF for ...</label>
				<span>{{ad.ch1PermanentOffDuration}}</span>
				</div>
				</div>

				<div *ngIf="activeDevice.deviceType == 'mosfet1c' || activeDevice.deviceType == 'daliMaster1c'"> 
				<div class="actuatorsection" (click)="showSoftSwitchingSettings=!showSoftSwitchingSettings">
				<label>Soft switching of ON/OFF</label>
				<up-nav  *ngIf="showSoftSwitchingSettings"></up-nav>
				<down-nav  *ngIf="!showSoftSwitchingSettings"></down-nav>
				</div>
			
				<div  *ngIf="showSoftSwitchingSettings" >
				<label>Soft ON</label>
				<span *ngIf="ad.softOnEnable ==  true">ON</span>
				<span *ngIf="ad.softOnEnable ==  false">OFF</span>
				</div>

				<div  *ngIf="showSoftSwitchingSettings" >
				<label>Soft ON</label>
				<span>{{ad.softOnDuration}} s</span>
				</div>
				
				<div  *ngIf="showSoftSwitchingSettings" >
				<label>Soft OFF</label>
				<span *ngIf="ad.softOffEnable ==  true">ON</span>
				<span *ngIf="ad.softOffEnable ==  false">OFF</span>
				</div>
				
				<div  *ngIf="showSoftSwitchingSettings" >
				<label>Soft OFF</label>
				<span>{{ad.softOffDuration}} s</span>
				</div>
				

				<div  *ngIf="showSoftSwitchingSettings || activeDevice.deviceType == 'mosfet1c'">
				<label>Dimming mode</label>
				<span *ngIf="ad.phaseCutMode ==  0">Leading Edge</span>
				<span *ngIf="ad.phaseCutMode ==  1">Trailing Edge</span>
				</div>
				</div>
				<div>
				<div class="actuatorsection" (click)="showMiscSettings=!showMiscSettings">
				<label>Additional settings</label>
				<up-nav  *ngIf="showMiscSettings"></up-nav>
				<down-nav  *ngIf="!showMiscSettings"></down-nav>
				</div>
				

				<div  *ngIf="showMiscSettings && activeDevice.deviceType == 'daliMaster1c'">
				<label>Memory function</label>
				<span *ngIf="ad.ch1MemoryFunctionEnable ==  true">ON</span>
				<span *ngIf="ad.ch1MemoryFunctionEnable ==  false">OFF</span>
				</div>

				<div  *ngIf="showMiscSettings && activeDevice.deviceType == 'daliMaster1c'">
				<label>Limit room brightness</label>
				<span *ngIf="ad.delimitLightingLevelEnable ==  true">ON</span>
				<span *ngIf="ad.delimitLightingLevelEnable ==  false">OFF</span>
				</div>
				
				<div  *ngIf="showMiscSettings" >
				<label>Minimum load</label>
				<span *ngIf="ad.ch1MinLevelEnable ==  true">ON</span>
				<span *ngIf="ad.ch1MinLevelEnable ==  false">OFF</span>
				</div>

				<div  *ngIf="showMiscSettings" >
				<label>Minimum load</label>
				<span>{{ad.ch1MinLevel}} %</span>
				</div>
				
				<div  *ngIf="showMiscSettings" >
				<label>Maximum load</label>
				<span *ngIf="ad.ch1MaxLevelEnable ==  true">ON</span>
				<span *ngIf="ad.ch1MaxLevelEnable ==  false">OFF</span>
				</div>

				<div  *ngIf="showMiscSettings" >
				<label>Maximum load</label>
				<span>{{ad.ch1MaxLevel}} %</span>
				</div>
				</div>
				<div *ngIf="activeDevice.deviceType == 'daliMaster1c'">
				<div class="actuatorsection" (click)="showDaliSettings=!showDaliSettings">
				<label >DALI settings</label>
				<up-nav  *ngIf="showDaliSettings"></up-nav>
				<down-nav  *ngIf="!showDaliSettings"></down-nav>
				</div>
				
				<div  *ngIf="showDaliSettings" >
				<label>User master in slave mode</label>
				<span *ngIf="ad.slaveModeEnable ==  1">ON</span>
				<span *ngIf="ad.slaveModeEnable ==  0">OFF</span>
				</div>

				<div  *ngIf="showDaliSettings" >
				<label>Power ON level</label>
				<span *ngIf="ad.daliPowerOnLevel ==  0">OFF</span>
				<span *ngIf="ad.daliPowerOnLevel ==  1">Memo</span>
				<span *ngIf="ad.daliPowerOnLevel ==  2">100%</span>
				</div>
				</div>
				<div *ngIf="activeDevice.deviceType == 'daliMaster1c'">
				<div class="actuatorsection" (click)="showFluorescentSettings=!showFluorescentSettings">
				<label >Fluorescent lamps</label>
				<up-nav  *ngIf="showFluorescentSettings"></up-nav>
				<down-nav  *ngIf="!showFluorescentSettings"></down-nav>
				</div>
				
				
				<div  *ngIf="showFluorescentSettings">
				<label>Burn in function</label>
				<span *ngIf="ad.burnInEnable ==  true">ON</span>
				<span *ngIf="ad.burnInEnable ==  false">OFF</span>
				</div>
				
				<div  *ngIf="showFluorescentSettings" >
				<label>Burin in mode</label>
				<span *ngIf="ad.burnInMode ==  0">Steady</span>
				<span *ngIf="ad.burnInMode ==  1">Accumulated</span>
				</div>

				<div  *ngIf="showFluorescentSettings">
				<label>operating hours</label>
				<span>{{ad.burnInDuration}} h</span>
				</div>
				</div>
				<div *ngIf="activeDevice.deviceType == 'daliMaster1c'">
				<div class="actuatorsection" (click)="showBasicIlluminationSettings=!showBasicIlluminationSettings">
				<label >Basic brightness</label>
				<up-nav  *ngIf="showBasicIlluminationSettings"></up-nav>
				<down-nav  *ngIf="!showBasicIlluminationSettings"></down-nav>
				</div>
				
				
				<div  *ngIf="showBasicIlluminationSettings">
					<label *ngIf="ad.basicBrightnessMode ==  true">ON</label>
					<label *ngIf="ad.basicBrightnessMode ==  false">OFF</label>
				</div>
				
				<div  *ngIf="showBasicIlluminationSettings">
				<label>Basic illumination level</label>
				<span>{{ad.basicBrightnessLevel}} %</span>
				</div>
				
				<div  *ngIf="showBasicIlluminationSettings">
				<label>Start time</label>
				<span>{{ad.basicBrightnessStartTime}} h</span>
				</div>
				
				<div  *ngIf="showBasicIlluminationSettings">
				<label>End time</label>
				<span>{{ad.basicBrightnessEndTime}} h</span>
				</div>
				
				<div  *ngIf="showBasicIlluminationSettings">
				<label>Astro function</label>
				<span *ngIf="ad.basicBrightnessStartTimeAstroFunctionEnable ==  true">ON</span>
				<span *ngIf="ad.basicBrightnessStartTimeAstroFunctionEnable ==  false">OFF</span>
				</div>
				</div>
				<div *ngIf="activeDevice.deviceType == 'daliMaster1c'">
				<div class="actuatorsection" (click)="showNightAntiGlareSettings=!showNightAntiGlareSettings">
				<label >Night-time anti-glare function</label>
				<up-nav  *ngIf="showNightAntiGlareSettings"></up-nav>
				<down-nav  *ngIf="!showNightAntiGlareSettings"></down-nav>
				</div>
				
				<div  *ngIf="showNightAntiGlareSettings">
					<label *ngIf="ad.nightLightFunctionEnable ==  true">ON</label>
					<label *ngIf="ad.nightLightFunctionEnable ==  false">OFF</label>
				</div>
				
				

				<div  *ngIf="showNightAntiGlareSettings">
				<label>Start time</label>
				<span>{{ad.nightLightStartTime}} h</span>
				</div>
				
				<div  *ngIf="showNightAntiGlareSettings">
				<label>End time</label>
				<span>{{ad.nightLightEndTime}} h</span>
				</div>
				
				<div  *ngIf="showNightAntiGlareSettings">
				<label>illumination level</label>
				<span>{{ad.nightLightLevel}} %</span>
				</div>
				</div>
				<div class="actuatorsection" (click)="showTimeShiftedSwitchOffSettings=!showTimeShiftedSwitchOffSettings">		
				<label >Time-shifted switch-off</label>
				<up-nav  *ngIf="showTimeShiftedSwitchOffSettings"></up-nav>
				<down-nav  *ngIf="!showTimeShiftedSwitchOffSettings"></down-nav>
				</div>
				
				<div  *ngIf="showTimeShiftedSwitchOffSettings">
					<label *ngIf="ad.stepwiseSwitchOffDelayEnable ==  true">ON</label>
					<label *ngIf="ad.stepwiseSwitchOffDelayEnable ==  false">OFF</label>
				</div>

				<div  *ngIf="showTimeShiftedSwitchOffSettings">
				<label>Switch-off time</label>
				<span>{{ad.stepwiseSwitchOffDelay}} h</span>
				</div>
				
				<div  *ngIf="showTimeShiftedSwitchOffSettings">
				<label>Brightness of intermediate stage</label>
				<span>{{ad.stepwiseSwitchOffLevel}} %</span>
				</div>	
			</div>
		</div>
	</div>
	<div *ngIf="data.getIParam() == 'actuator2' && activeDevice.deviceType == 'daliMaster1c'">
		<div class="bj-container" >
			<div class="bj-sensor-setting">	
				<div class="actuatorsection" (click)="showCircuitSettings=!showCircuitSettings">		
				<label>Circuit logic</label>
				<up-nav  *ngIf="showCircuitSettings"></up-nav>
				<down-nav *ngIf="!showCircuitSettings"></down-nav>
				</div>
				
					<div  *ngIf="showCircuitSettings" >
						<label *ngIf="ad.ch2CircuitLogic==  0">NC contact</label>
						<label *ngIf="ad.ch2CircuitLogic ==  1">NO contact</label>
					</div>

				
				<div class="actuatorsection" (click)="showSwitching=!showSwitching">
				<label>Switching function</label>
				<up-nav *ngIf="showSwitching"></up-nav>
				<down-nav  *ngIf="!showSwitching"></down-nav>
				</div>
				
				
				<div  *ngIf="showSwitching" >
					<label *ngIf="ad.ch2Mode==  0">Disabled</label>
					<label *ngIf="ad.ch2Mode ==  1">Brightness independent</label>
					<label *ngIf="ad.ch2Mode==  2">Switch off DALI control gear voltage</label>
					<label *ngIf="ad.ch2Mode ==  3">Synchronous operation</label>
					<label *ngIf="ad.ch2Mode==  4">Blackboard lightening</label>
					<label *ngIf="ad.ch2Mode ==  5">Manual</label>
					<label *ngIf="ad.ch2Mode==  6">HVAC</label>
				</div>

				<div  *ngIf="showSwitching" >
				<label>Dynamic control</label>
				<span *ngIf="ad.hvacDynamicalControlEnable ==  true">ON</span>
				<span *ngIf="ad.hvacDynamicalControlEnable ==  false">OFF</span>
				</div>
				
				<div  *ngIf="showSwitching" >
				<label>Switch-on delay</label>
				<span>{{ad.hvacSwitchOnDelay}} s</span>
				</div>

				<div  *ngIf="showSwitching" >
				<label>Switch-off delay</label>
				<span>{{ad.hvacSwitchOffDelay}} s</span>
				</div>
			</div>
		</div>
	</div>
	<div *ngIf="data.getIParam() == 'emonitor'">
		<div class="bj-container" >
		<div class="bj-sensor-setting">	
			
			<div>
			<label>Connected load</label>
			<span>{{ad.energyMonitorConnectedLoad}} w</span>
			</div>
			
			<div>
			<label>Light duration per week</label>
			<span>{{ad.energyMonitorLightingDuration}} h</span>
			</div>
		
			<div>
			<label>Electricity price</label>
			<span>{{ad.energy_monitor.electricity_price}} kWh</span>
			</div>
			
			
			<div>
			<label>Currency</label>
			<span>{{ad.energy_monitor.currency}}</span>
			</div>
			
		</div>
	</div>

	</div>
	<div *ngIf="data.getIParam() == 'pins'">

<div class="bj-container" >
	<div class="bj-sensor-setting-pin">	
		
		<label class="section">Fitter PIN</label>
		<div class="main">
			
			<div class="sub">	
			<label  >Installed Fitter PIN</label>
			<input type="{{showFitterPin ? 'text' : 'password'}}" [(ngModel)]="ad.commissioning.pins.electrician" >  

			</div>
		
		
			<div class="sub">
			<label style="color: #9eabbb;">Show Fitter PIN</label> 
			
						 <span class="bj-config-toggle-switch">
                 <div class="track"  (click)="showFitterPin=!showFitterPin" [ngStyle]="{'border-color':showFitterPin== true ? '#26394f':'#c0c1c3'}">
                       <label class="switch-onlabel" *ngIf="showFitterPin">{{onLabel}}</label>
                       <label class="switch-offlabel" *ngIf="!showFitterPin">{{offLabel}}</label>
                        <div class="switch" [ngClass]="{'switch-on':showFitterPin,'switch-off':!showFitterPin}" [ngStyle]="{'background-color':showFitterPin== true ? '#26394f':'#ccc'}"></div>
                 </div>
            </span>


			</div><!--end of class sub div -->
	
		</div> <!--end of class main div -->
		<label class="section">Standard User PIN</label>
		<div class="main">
			
			<div class="sub">
			<label>Installed Standard User PIN</label>
			<input type="{{showUserPin ? 'text' : 'password'}}" [(ngModel)]="ad.commissioning.pins.standard_user" > 
			</div>
			
			

			<div class="sub">
			<label style="color: #9eabbb;">Show Standard User PIN</label>
			 <span class="bj-config-toggle-switch">
                 <div class="track"  (click)="showUserPin=!showUserPin" [ngStyle]="{'border-color':showUserPin== true ? '#26394f':'#c0c1c3'}">
                       <label class="switch-onlabel" *ngIf="showUserPin">{{onLabel}}</label>
                       <label class="switch-offlabel" *ngIf="!showUserPin">{{offLabel}}</label>
                        <div class="switch" [ngClass]="{'switch-on':showUserPin,'switch-off':!showUserPin}" [ngStyle]="{'background-color':showUserPin== true ? '#26394f':'#ccc'}"></div>
                 </div>
            </span>

			</div><!--end of class sub div -->
	
		</div> <!--end of class main div -->

				
	</div>
</div>
	</div>
	<div *ngIf="data.getIParam() == 'buildingallocation'">
		<div class="bj-container" >
	<div class="bj-sensor-setting">	
			
		<label class="section">Contact name</label>
		<div>
		<label style="font-size: 20px;"> {{activeDevice.contactName}} </label>
		</div>
		
		<label class="section">Building</label>
		<div>
		<label style="font-size: 20px;"> {{activeDevice.buildingName}} </label>
		</div>
		
		
	</div>
</div>
	</div>
	<div *ngIf="data.getIParam() == 'enablesettings'">

<div class="bj-container" >
	<div class="bj-sensor-setting">	
			
		
		<div>
		<label>programming brightness</label>
			<span *ngIf="ad.enableUserSetBrightnessThreshold == true">ON</span>
			<span *ngIf="ad.enableUserSetBrightnessThreshold == false">OFF</span>
		</div>
		
		<div>
		<label>Setting switch-off delay</label>
			<span *ngIf="ad.enableUserSetSwitchOffDelay == true">ON</span>
			<span *ngIf="ad.enableUserSetSwitchOffDelay == false">OFF</span>
		</div>

		<div>
		<label>Energy monitor</label>
			<span *ngIf="ad.enableUserEnergyMonitor == true">ON</span>
			<span *ngIf="ad.enableUserEnergyMonitor == false">OFF</span>
		</div>
		
		<div>
		<label>Illumination function of grounds</label>
			<span *ngIf="ad.enableUserBasicBrightness == true">ON</span>
			<span *ngIf="ad.enableUserBasicBrightness == false">OFF</span>
		</div>
		
		<div>
		<label>Night-time anti-glare function</label>
			<span *ngIf="ad.enableUserNightLightFunction == true">ON</span>
			<span *ngIf="ad.enableUserNightLightFunction == false">OFF</span>
		</div>
				
	</div>
</div>




	</div>
</div>