<div class="bj-config-container-user">
<div id="bj-presence-simulation-div">
    <label class="bj-config-lbl presence-simulation-div">Presence simulation</label>
    <div class="bj-config-setting-div presence-simulation-div" *ngIf="presenceSimulationEnable !== undefined">
        <label class="bj-config-setting presence-simulation-block">Presence simulation</label>
        <span class="bj-config-toggle-switch">
            <div class="track user"  (click)="presenceSimulationEnable=!presenceSimulationEnable" [ngStyle]="{'border-color':'#7a7f85'}">
                <label class="switch-onlabel user" *ngIf="presenceSimulationEnable == true">{{onLabel}}</label>
                <label class="switch-offlabel user" *ngIf="presenceSimulationEnable  == false">{{offLabel}}</label>
                <div class="switch user" [ngClass]="{'switch-on':presenceSimulationEnable == true,'switch-off':presenceSimulationEnable == false}" [ngStyle]="{'background-color':'#ccc'}">
                </div>
            </div>
        </span>
    </div>
</div>
<div id="bj-user-sensor-div">
    <label class="bj-config-lbl user-sensor-div">Sensor settings</label>
    <div class="bj-config-setting-block-div brightness-user-div">
        <label class="bj-config-setting-block-lbl brightness-user-function">Brightness threshold ({{ad.sensor_settings.brightness_min}} - {{ad.sensor_settings.brightness_max}} lx)</label>
        <div class="bj-config-setting-adjust brightness-user-function">
            <div class="adjust-minus user" (click)="reduceVal('brightness')"><span class="glyphicon glyphicon-minus"></span></div>
            <input class="adjust user"type="text" [(ngModel)]="ad.sensor_settings.brightness_threshold"   [ngStyle]="{'color':brightnessError==true ? 'red' : '#0173b2'}">
            <div class="static-unit-text user">lx</div>
            <div class="adjust-plus user" (click)="increaseVal('brightness')"><span class="glyphicon glyphicon-plus"></span></div>
        </div>
        <div class = "bj-current-val">
            <label class="bj-config-setting brightness-user-function">Take over current brightness</label>
            <input class="adjust-value brightness-user-function" type="text" disabled [(ngModel)]="currentBrightness">
        </div>
    </div>
    <div class="bj-config-setting-block-div short-time-pulse-user-div">
        <label class="bj-config-setting-block-lbl short-time-pulse-user-function">Switch-off delay ({{ad.sensor_settings.switch_off_delay_min}} s-{{ad.sensor_settings.switch_off_delay_max}} min)</label>
        <div class="bj-config-setting-adjust short-time-pulse-user-function">
            <div class="adjust-minus user" (click)="reduceVal('soff')"><span class="glyphicon glyphicon-minus"></span></div>
            <input class="adjust user"type="text" [(ngModel)]="ad.sensor_settings.switch_off_delay"   [ngStyle]="{'color':brightnessError==true ? 'red' : '#0173b2'}">
            <div class="static-unit-text user">lx</div>
            <div class="adjust-plus user" (click)="increaseVal('soff')"><span class="glyphicon glyphicon-plus"></span></div>
        </div>
    </div>
</div>
<div id="bj-user-basic-illumination-div">
    <label class="bj-config-lbl user-basic-illumination-div">Basic brightness</label>
    <div>
        <div class="bj-config-setting inner-setting user"><label id="illumination-mode-off">OFF</label><input type="radio" class="circuit-radio" [(ngModel)]="ad.actuator1.basic_illumination.settings" [checked]="ad.actuator1.basic_illumination.settings === 0" name="illuminiation-mode" [value]="0"/></div>
        <div class="bj-config-setting inner-setting user"><label id="illumination-mode-time">Determined by time</label><input type="radio" class="circuit-radio" [(ngModel)]="ad.actuator1.basic_illumination.settings" [checked]="ad.actuator1.basic_illumination.settings === 1"  name="illuminiation-mode" [value]="1"/></div>
        <div class="bj-config-setting inner-setting user" style="border-bottom: 2px solid #131b25;"><label id="illumination-mode-brigtness">Determined by brightness</label><input type="radio" class="circuit-radio" [(ngModel)]="ad.actuator1.basic_illumination.settings" [checked]="ad.actuator1.basic_illumination.settings === 2"  name="illuminiation-mode" [value]="2"/></div>
        <div class="bj-config-setting inner-setting user" *ngIf="ad.actuator1.basic_illumination.settings == 1 || ad.actuator1.basic_illumination.settings == 2">
            <label class="actuator-basic-illumniation-lbl">Basic illumination level</label>
            <div class="bj-actuator1-slider">
                <input class = "illumination-range" type="range" name="points" min="0" max="100" step="1" [(ngModel)]="ad.actuator1.basic_illumination.basic_illumination_level">
                <div class="illumination-value-disp">{{ad.actuator1.basic_illumination.basic_illumination_level}}%</div>
            </div>
        </div>
        <div class="bj-config-setting inner-setting user" *ngIf="ad.actuator1.basic_illumination.settings == 2">
            <label class="actuator-ambient-brightness-lbl">Ambient brightness threshold</label>
            <div class="bj-actuator1-slider">
                <input class = "ambient-brightness-range" type="range" name="points" min="0" max="500" step="1" [(ngModel)]="ad.actuator1.basic_illumination.ambient_brightness_threshold">
                <div class="ambient-brightness-value-disp">{{ad.actuator1.basic_illumination.ambient_brightness_threshold}}lx</div>
            </div>
        </div>
        <div class="bj-config-setting inner-setting actuator1" *ngIf="ad.actuator1.basic_illumination.settings == 1">
            <label class="actuator-illumination-start-time-lbl">Start time</label>
                <div class="bj-config-setting-adjust short-time-pulse-user-function">
                    <div class="adjust-minus user" (click)="reduceVal('illuminationstart')"><span class="glyphicon glyphicon-minus"></span></div>
                    <input class="adjust user"type="text" [(ngModel)]="ad.actuator1.basic_illumination.start_time"  [ngStyle]="{'color':brightnessError==true ? 'red' : '#0173b2'}">
                    <div class="static-unit-text user">h</div>
                    <div class="adjust-plus user" (click)="increaseVal('illuminationstart')"><span class="glyphicon glyphicon-plus"></span></div>
                </div>
            <label class="actuator-illumination-end-time-lbl">End time</label>
                <div class="bj-config-setting-adjust short-time-pulse-user-function">
                    <div class="adjust-minus user" (click)="reduceVal('illuminationend')"><span class="glyphicon glyphicon-minus"></span></div>
                    <input class="adjust user"type="text" [(ngModel)]="ad.actuator1.basic_illumination.end_time"  [ngStyle]="{'color':brightnessError==true ? 'red' : '#0173b2'}">
                    <div class="static-unit-text user">h</div>
                    <div class="adjust-plus user" (click)="increaseVal('illuminationend')"><span class="glyphicon glyphicon-plus"></span></div>
                </div>
        </div>
    </div>
</div>
<div id="bj-user-anti-glare-div">
    <label class="bj-config-lbl user-anti-glare-div">Night-time anti-glare function</label>
    <div class="bj-config-setting inner-setting actuator1 anti-glare-function">
        <div class="anti-glare-function-div">
            <label class="anti-glare-function-lbl">Night-time anti-glare function</label>
                 <span class="bj-config-toggle-switch actuator1">
                         <div class="track user"  (click)="ad.actuator1.night_time_anti_glare_function.enable=!ad.actuator1.night_time_anti_glare_function.enable" [ngStyle]="{'border-color':'#7a7f85'}">
                            <label class="switch-onlabel user" *ngIf="ad.actuator1.night_time_anti_glare_function.enable">{{onLabel}}</label>
                            <label class="switch-offlabel user" *ngIf="!ad.actuator1.night_time_anti_glare_function.enable">{{offLabel}}</label>
                            <div class="switch user" [ngClass]="{'switch-on':ad.actuator1.night_time_anti_glare_function.enable,'switch-off':!ad.actuator1.night_time_anti_glare_function.enable}" [ngStyle]="{'background-color':'#ccc'}"></div>
                        </div>
                 </span>
        </div>
        <div class="anti-glare-start-end-time-div" *ngIf="(ad.actuator1.night_time_anti_glare_function.enable==true)">
            <label class="actuator-anti-glare-start-time-lbl">Start time</label>
            <div class="bj-config-setting-adjust anti-glare-start-function">
                    <div class="adjust-minus" (click)="reduceVal('glarestart')"><span class="glyphicon glyphicon-minus"></span></div>
                    <input class="adjust"type="text" [(ngModel)]="ad.actuator1.night_time_anti_glare_function.start_time"   [ngStyle]="{'color': glareStart ==true ? 'red' : '#26394f'}">
                    <div class="static-unit-text  user">s</div>
                    <div class="adjust-plus" (click)="increaseVal('glarestart')"><span class="glyphicon glyphicon-plus"></span></div>
            </div>
            <label class="actuator-anti-glare-end-time-lbl">End time</label>
            <div class="bj-config-setting-adjust anti-glare-end-function">
                    <div class="adjust-minus" (click)="reduceVal('glareend')"><span class="glyphicon glyphicon-minus"></span></div> 
                    <input class="adjust"type="text" [(ngModel)]="ad.actuator1.night_time_anti_glare_function.end_time"   [ngStyle]="{'color': glareStart ==true ? 'red' : '#26394f'}">
                    <div class="static-unit-text user">s</div>
                    <div class="adjust-plus" (click)="increaseVal('glareend')"><span class="glyphicon glyphicon-plus"></span></div>
            </div>
        </div>
        <div class="anti-glare-level-div" *ngIf="ad.actuator1.night_time_anti_glare_function.enable == true">
            <label class="actuator-anti-glare-level-lbl">Illumination level</label>
            <div class="bj-actuator1-slider">
                 <input class = "anti-glare-level-range" type="range" name="points" min="0" max="100" step="1" [(ngModel)]="ad.actuator1.night_time_anti_glare_function.illumination_level">
                <div class="anti-glare-level-value-disp">{{ad.actuator1.night_time_anti_glare_function.illumination_level}}%</div>
            </div>
        </div>
        </div>
    </div>
</div>