<div class="bj-config-container-user">
<div id="bj-presence-simulation-div">
    <label class="bj-config-lbl presence-simulation-div" >{{ this.data.getTranslatedString("Presence simulation") }}</label>
    <div class="bj-config-setting-div-settings presence-simulation-div" >
        <label class="bj-config-setting-block-lbl presence-simulation-block" >{{ this.data.getTranslatedString("Presence simulation") }}</label>
        <span class="bj-config-toggle-switch">
            <div class="track user"  (click)="togglePE()" [ngStyle]="{'border-color':'#7a7f85'}">
                <label class="switch-onlabel user" *ngIf="this.ad.presenceSimulationEnable == true">{{onLabel}}</label>
                <label class="switch-offlabel user" *ngIf="this.ad.presenceSimulationEnable  == false">{{offLabel}}</label>
                <div class="switch user" [ngClass]="{'switch-on':this.ad.presenceSimulationEnable == true,'switch-off':this.ad.presenceSimulationEnable == false}" [ngStyle]="{'background-color':'#ccc'}">
                </div>
            </div>
        </span>
    </div>
</div>
<div id="bj-user-sensor-div">
    <label class="bj-config-lbl user-sensor-div" >{{ this.data.getTranslatedString("Sensor settings") }}</label>
    <div class="bj-config-setting-block-div brightness-user-div">
        <label class="bj-config-setting-block-lbl brightness-user-function"><ng-container >{{ this.data.getTranslatedString("Brightness threshold") }}</ng-container> ({{ad.brightnessThresholdMin}} - {{ad.brightnessThresholdMax}} <ng-container >{{ this.data.getTranslatedString("lx") }}</ng-container>)</label>
        <div class="bj-config-setting-adjust brightness-user-function">
            <div class="adjust-minus user" long-press (click)="reduceCount('brightness',true)" (onLongPressEnd)="reduceCount('brightness',true)" (onLongPressing)="reduceCount('brightness',false)"><span class="glyphicon glyphicon-minus"></span></div>
            <input class="adjust user" type="number"  (keyup)="setBrTr($event)"  [(ngModel)]="ad.brightnessThreshold"   [ngStyle]="{'color':brightnessError==true ? 'red' : '#0173b2'}">
            <div class="static-unit-text user" >{{ this.data.getTranslatedString("lx") }}</div>
            <div class="adjust-plus user" long-press (click)="increaseCount('brightness',true)" (onLongPressEnd)="increaseCount('brightness',true)" (onLongPressing)="increaseCount('brightness',false)"><span class="glyphicon glyphicon-plus"></span></div>
        </div>
        <div class = "bj-current-val">
            <label class="bj-config-setting-block-lbl brightness-user-function" >{{ this.data.getTranslatedString("Take over current brightness") }}</label>
            <input class="adjust-value brightness-user-function" type="number" (keyup)="setCurrentBr($event)"   [(ngModel)]="ad.currentBrightness">
        </div>
    </div>
    <div class="bj-config-setting-block-div short-time-pulse-user-div">
        <label class="bj-config-setting-block-lbl short-time-pulse-user-function"><ng-container >{{ this.data.getTranslatedString("Switch-off delay") }}</ng-container> ({{ad.switchOffDelay_min}} <ng-container >{{ this.data.getTranslatedString("s") }}</ng-container> -{{ad.switchOffDelay_max}} <ng-container >{{ this.data.getTranslatedString("min") }}</ng-container>)</label>
        <div class="bj-config-setting-adjust short-time-pulse-user-function">
            <div class="adjust-minus user" long-press (click)="reduceCount('soff',true)" (onLongPressEnd)="reduceCount('soff',true)" (onLongPressing)="reduceCount('soff',false)"><span class="glyphicon glyphicon-minus"></span></div>
            <input class="adjust user"type="number" [(ngModel)]="ad.switchOffDelay"   [ngStyle]="{'color':brightnessError==true ? 'red' : '#0173b2'}">
            <div class="static-unit-text user"><ng-container >{{ this.data.getTranslatedString("min") }}</ng-container></div>
            <div class="adjust-plus user" long-press (click)="increaseCount('soff',true)" (onLongPressEnd)="increaseCount('soff',true)" (onLongPressing)="increaseCount('soff',false)"><span class="glyphicon glyphicon-plus"></span></div>
        </div>
    </div>
</div>
<div id="bj-user-basic-illumination-div" *ngIf="activeDevice.deviceType == 'daliMaster1c'">
    <label class="bj-config-lbl user-basic-illumination-div" >{{ this.data.getTranslatedString("Basic brightness") }}</label>
    <div>
        <div class="bj-config-setting inner-setting-user"><label id="illumination-mode-off" >{{ this.data.getTranslatedString("OFF") }}</label><input type="radio" class="circuit-radio" [(ngModel)]="ad.basicBrightnessMode" (ngModelChange)="basicBrModeChanged()" [checked]="ad.basicBrightnessMode === 0" name="illuminiation-mode" [value]="0"/></div>
        <div class="bj-config-setting inner-setting-user"><label id="illumination-mode-time" >{{ this.data.getTranslatedString("Determined by time") }}</label><input type="radio" class="circuit-radio" [(ngModel)]="ad.basicBrightnessMode" (ngModelChange)="basicBrModeChanged()" [checked]="ad.basicBrightnessMode === 1"  name="illuminiation-mode" [value]="1"/></div>
        <div class="bj-config-setting inner-setting-user"><label id="illumination-mode-brigtness" >{{ this.data.getTranslatedString("Determined by brightness") }}</label><input type="radio" class="circuit-radio" [(ngModel)]="ad.basicBrightnessMode" (ngModelChange)="basicBrModeChanged()" [checked]="ad.basicBrightnessMode === 2"  name="illuminiation-mode" [value]="2"/></div>
        <div class="bj-config-setting inner-setting-user" *ngIf="ad.basicBrightnessMode == 1 || ad.basicBrightnessMode == 2">
            <label class="actuator-basic-illumniation-lbl" >{{ this.data.getTranslatedString("Basic illumination level") }}</label>
            <div class="bj-actuator1-slider">
                <input class = "illumination-range" type="range" name="points" min="0" max="100" step="1" [(ngModel)]="ad.basicBrightnessLevel" (ngModelChange)="basicBrightnessLevelChange()">
                <div class="illumination-value-disp">{{ad.basicBrightnessLevel}}%</div>
            </div>
        </div>
        <div class="bj-config-setting inner-setting-user" *ngIf="ad.basicBrightnessMode == 2">
            <label class="actuator-ambient-brightness-lbl" >{{ this.data.getTranslatedString("Ambient brightness threshold") }}</label>
            <div class="bj-actuator1-slider">
                <input class = "ambient-brightness-range" type="range" name="points" min="ad.basicBrightnessAmbientBrightnessThresholdMax" max="ad.basicBrightnessAmbientBrightnessThresholdMin" step="1" [(ngModel)]="ad.basicBrightnessAmbientBrightnessThreshold"  (ngModelChange)="basicBrightnessAmbientBrightnessThresholdChange()">
                <div class="ambient-brightness-value-disp">{{ad.basicBrightnessAmbientBrightnessThreshold}} <ng-container >{{ this.data.getTranslatedString("lx") }}</ng-container></div>
            </div>
        </div>
        <div class="bj-config-setting-block-div inner-setting-actuator1" *ngIf="ad.basicBrightnessMode == 1">
            <label class="bj-config-setting-block-lbl actuator-illumination-start-time-lbl" >{{ this.data.getTranslatedString("Start time") }}</label>
                <div class="bj-config-setting-adjust short-time-pulse-user-function">
                    <div class="adjust-minus user" long-press (click)="reduceCount('illuminationstart',true)" (onLongPressEnd)="reduceCount('illuminationstart',true)" (onLongPressing)="reduceCount('illuminationstart',false)"><span class="glyphicon glyphicon-minus"></span></div>
                    <input class="adjust user"type="text" [(ngModel)]="BRStartTime"  [ngStyle]="{'color':brightnessError==true ? 'red' : '#0173b2'}">
                    <div class="static-unit-text user">h</div>
                    <div class="adjust-plus user" long-press (click)="increaseCount('illuminationstart',true)" (onLongPressEnd)="increaseCount('illuminationstart',true)" (onLongPressing)="increaseCount('illuminationstart',false)"><span class="glyphicon glyphicon-plus"></span></div>
                </div>
            <label class="bj-config-setting-block-lbl actuator-illumination-end-time-lbl" >{{ this.data.getTranslatedString("End time") }}</label>
                <div class="bj-config-setting-adjust short-time-pulse-user-function">
                    <div class="adjust-minus user" long-press (click)="reduceCount('illuminationend',true)" (onLongPressEnd)="reduceCount('illuminationend',true)" (onLongPressing)="reduceCount('illuminationend',false)"><span class="glyphicon glyphicon-minus"></span></div>
                    <input class="adjust user"type="text" [(ngModel)]="BREndTime"  [ngStyle]="{'color':brightnessError==true ? 'red' : '#0173b2'}">
                    <div class="static-unit-text user">h</div>
                    <div class="adjust-plus user" long-press (click)="increaseCount('illuminationend',true)" (onLongPressEnd)="increaseCount('illuminationend',true)" (onLongPressing)="increaseCount('illuminationend',false)"><span class="glyphicon glyphicon-plus"></span></div>
                </div>
        </div>
    </div>
</div>
<div id="bj-user-anti-glare-div" *ngIf="activeDevice.deviceType == 'daliMaster1c'">
    <label class="bj-config-lbl user-anti-glare-div">Night-time anti-glare function</label>
        <div class="bj-config-setting-div-settings anti-glare-function-div">
            <label class="bj-config-setting-block-lbl anti-glare-function-lbl">Night-time anti-glare function</label>
                 <span class="bj-config-toggle-switch">
                         <div class="track user"  (click)="toggleNL()" [ngStyle]="{'border-color':'#7a7f85'}">
                            <label class="switch-onlabel user" *ngIf="ad.nightLightFunctionEnable">{{onLabel}}</label>
                            <label class="switch-offlabel user" *ngIf="!ad.nightLightFunctionEnable">{{offLabel}}</label>
                            <div class="switch user" [ngClass]="{'switch-on':ad.nightLightFunctionEnable,'switch-off':!ad.nightLightFunctionEnable}" [ngStyle]="{'background-color':'#ccc'}"></div>
                        </div>
                 </span>
        </div>
        <div class="anti-glare-start-end-time-div" *ngIf="(ad.nightLightFunctionEnable==true)">
            <label class="bj-config-setting-block-lbl actuator-anti-glare-start-time-lbl" >{{ this.data.getTranslatedString("Start time") }}</label>
            <div class="bj-config-setting-adjust anti-glare-start-function">
                    <div class="adjust-minus user" long-press (click)="reduceCount('glarestart',true)" (onLongPressEnd)="reduceCount('glarestart',true)" (onLongPressing)="reduceCount('glarestart',false)"><span class="glyphicon glyphicon-minus"></span></div>
                    <input class="adjust user"type="text" [(ngModel)]="NLStartTime"   [ngStyle]="{'color': glareStart ==true ? 'red' : '#0173b2'}">
                    <div class="static-unit-text  user" >{{ this.data.getTranslatedString("s") }}</div>
                    <div class="adjust-plus user" long-press (click)="increaseCount('glarestart',true)" (onLongPressEnd)="increaseCount('glarestart',true)" (onLongPressing)="increaseCount('glarestart',false)"><span class="glyphicon glyphicon-plus"></span></div>
            </div>
            <label class="bj-config-setting-block-lbl actuator-anti-glare-end-time-lbl" >{{ this.data.getTranslatedString("End time") }}</label>
            <div class="bj-config-setting-adjust anti-glare-end-function">
                    <div class="adjust-minus user" long-press (click)="reduceCount('glareend',true)" (onLongPressEnd)="reduceCount('glareend',true)" (onLongPressing)="reduceCount('glareend',false)"><span class="glyphicon glyphicon-minus"></span></div> 
                    <input class="adjust user"type="text" [(ngModel)]="NLEndTime"   [ngStyle]="{'color': glareStart ==true ? 'red' : '#0173b2'}">
                    <div class="static-unit-text user" >{{ this.data.getTranslatedString("s") }}</div>
                    <div class="adjust-plus user" long-press (click)="increaseCount('glareend',true)" (onLongPressEnd)="increaseCount('glareend',true)" (onLongPressing)="increaseCount('glareend',false)"><span class="glyphicon glyphicon-plus"></span></div>
            </div>
        </div>
        <div class="bj-config-setting inner-setting-user" *ngIf="ad.nightLightFunctionEnable == true">
            <label class="actuator-anti-glare-level-lbl">Illumination level</label>
            <div class="bj-actuator1-slider">
                 <input class = "anti-glare-level-range" type="range" name="points" min="0" max="100" step="1" [(ngModel)]="ad.nightLightLevel" (ngModelChange)="nightLevelChange()" >
                <div class="anti-glare-level-value-disp">{{ad.nightLightLevel}}%</div>
            </div>
        </div>
    </div>
</div>