<div class="bj-config-container-user">
    <div id="bj-user-config-settings-container">
        <div id="bj-light-settings-div">
            <div class="bj-user-config-setting-div light1-div">
                <label class="light-name">Light 1</label>
                <label class="bj-light-brightness-lbl" *ngIf="activeDevice.deviceType == 'daliMaster1c'" >{{ad.actuator1.ch1_current_level}}%</label>
                <div class="bulb-channel-info light1-div">
                    <div class="slide-prev light1" (click)="slidePrev()"  *ngIf="light1state != 0"><span class="glyphicon glyphicon-menu-left"></span></div>
                    <div class="channel-info">
                        <div class="bulb-glow light1" *ngIf="light1state==0">
                            <img class="bulb-glow light1"  src="assets/icons/08_002_lightglow_def.svg" alt="bulb_glow">
                            <img class="bulb-on light1" src="assets/icons/08_001_light_act.svg" alt="bulb_active">
                        </div>

                        <div class="bulb-glow light1" *ngIf="light1state==1">
                            <img class="bulb-glow light1"  src="assets/icons/08_002_lightglow_def.svg" alt="bulb_glow">
                            <img class="bulb-on light1"  src="assets/icons/08_022_light_forced_act.svg" alt="bulb_active">
                        </div>
                        <div class="bulb-glow light1" *ngIf="light1state==2">
                            <img class="bulb-on light1 state2" src="assets/icons/08_022_light_forced_deact.svg" alt="bulb_active">
                        </div>
                        <div class="bulb-glow light1" *ngIf="light1state==3">
                            <img class="bulb-glow light1" src="assets/icons/08_002_lightglow_def.svg" alt="bulb_glow">
                            <img class="bulb-on light1" src="assets/icons/14_008_application_switching_def.svg" alt="bulb_active">
                        </div>
                    </div>
                    <div class="slide-next light1" (click)="slideNext()" *ngIf="light1state < 3" ><span class="glyphicon glyphicon-menu-right"></span></div>
                </div>
                <div class="bj-brightness-slider light1" *ngIf="activeDevice.deviceType == 'daliMaster1c'">
                    <div class="bj-slider-control light1">
                        <input class = "actuator-range" type="range" name="points" min="0" max="100" step="1" [(ngModel)]="ad.actuator1.ch1_current_level" [ngStyle]="slideBackground(ad.actuator1.ch1_current_level)">
                    </div>
                </div>
            </div>
            <div class="bj-user-config-setting-div light2-div" *ngIf="activeDevice.deviceType == 'daliMaster1c'">
                <label class="light-name">Light 2</label>
                <div class="bulb-channel-info light2-div">
                    <div class="bulb-glow light2" >
                        <img class="bulb-glow light2"  src="assets/icons/08_002_lightglow_def.svg" alt="bulb_glow">
                        <img class="bulb-on light2"  src="assets/icons/08_001_light_act.svg" alt="bulb_active">
                    </div>
                </div>
            </div>
        </div>
        <div id="bj-other-user-settings-div">
            <label class="bj-config-lbl other-settings-div">Other settings</label>
            <div class="bj-config-setting-div other-settings-div" (click)="gotoEnergySettings()">
                <label class="bj-config-setting user-energy-monitor-block">Monitor energy</label><div class="slide-next energy-monitor"><span class="glyphicon glyphicon-menu-right"></span></div>
            </div>
            <div class="bj-config-setting-div other-settings-div" (click)="gotoSettings()">
                <label class="bj-config-setting user-settings-block">Settings</label><div class="slide-next settings"><span class="glyphicon glyphicon-menu-right"></span></div>
            </div>
        </div>
    </div>
    <div class="secondLevel-config-container" ui-view="secondLevelU"></div>
</div>

<div class="bj-footer">
    <div><span class="glyphicon glyphicon-remove"></span></div>
</div>

<div class="bj-footer user-settings" >
    <div class="bj-back user" ><span class="glyphicon glyphicon-remove"></span></div>
    <div id="bj-send-to-device-user"   [ngStyle]="{'color':true ? '#000000' :'#dddddd'}">Send</div>
</div>