<div class="bj-config-container-user">
     <img id="mySpinner" src="assets/icons/spinner_user.gif" *ngIf=" this.data.DeviceBuild == 1 && !loadingDataDone" />
      <div id="bj-user-config-settings-container" *ngIf="loadingDataDone || this.data.DeviceBuild == 0">
        <div id="bj-light-settings-div">
            <div class="bj-user-config-setting-div light1-div">
                <label class="light-name" >{{ this.data.getTranslatedString("Light 1") }}</label>
                <label class="bj-light-brightness-lbl" *ngIf="ad.deviceType == 'daliMaster1c'" >{{ad.ch1CurrentLevel}}%</label>
                <div class="bulb-channel-info light1-div light-flex">
                    <div class="slide-prev light1 arrow-prev-flex" (click)="slidePrev()"  *ngIf="light1state != 0"><span class="glyphicon glyphicon-menu-left"></span></div>
                    <div class="channel-info channel-flex">
                        <div class="bulb-glow light1" *ngIf="light1state==0">
                            <img class="bulb-glow light1"  src="assets/icons/08_002_lightglow_def.svg" alt="bulb_glow">
                            <img class="bulb-on light1" src="assets/icons/08_001_light_act.svg" alt="bulb_active">
                        </div>

                        <div class="bulb-glow light1" *ngIf="light1state==1">
                            <img class="bulb-glow light1"  src="assets/icons/08_002_lightglow_def.svg" alt="bulb_glow">
                            <img class="bulb-on light1"  src="assets/icons/08_022_light_forced_act.svg" alt="bulb_active">
                        </div>
                        <div class="bulb-glow light1" *ngIf="light1state==2">
                            <img class="bulb-on light1 state2" src="assets/icons/08_022_light_forced_deact.svg" alt="bulb_active">
                        </div>
                        <div class="bulb-glow light1" *ngIf="light1state==3">
                            <img class="bulb-glow light1" src="assets/icons/08_002_lightglow_def.svg" alt="bulb_glow">
                            <img class="bulb-on light1" src="assets/icons/14_008_application_switching_def.svg" alt="bulb_active">
                        </div>
                    </div>
                    <div class="slide-next light1 arrow-next-flex" (click)="slideNext()" *ngIf="light1state < 3" ><span class="glyphicon glyphicon-menu-right"></span></div>
                </div>
                <div class="bj-brightness-slider light1" *ngIf="ad.deviceType == 'daliMaster1c'">
                    <div class="bj-slider-control light1">
                        <input class = "actuator-range" type="range" name="points" min="0" max="100" step="1" (ngModelChange)="brightnessChanged()"   [(ngModel)]="ad.ch1CurrentLevel" [ngStyle]="slideBackground(ad.ch1CurrentLevel)">
                    </div>
                </div>
            </div>
            <div class="bj-user-config-setting-div light2-div" *ngIf="ad.deviceType == 'daliMaster1c'">
                <label class="light-name" >{{ this.data.getTranslatedString("Light 2") }}</label>
                <div class="bulb-channel-info light2-div">
                    <div class="bulb-glow light2" >
                        <img class="bulb-glow light2"  src="assets/icons/08_002_lightglow_def.svg" alt="bulb_glow">
                        <img class="bulb-on light2"  src="assets/icons/08_001_light_act.svg" alt="bulb_active">
                    </div>
                </div>
            </div>
        </div>
        <div id="bj-other-user-settings-div">
            <label class="bj-config-lbl other-settings-div">Other settings</label>
            <div class="bj-config-setting-div other-settings-div" (click)="gotoEnergySettings()" *ngIf="ad.enableUserEnergyMonitor"><!--Fix for PDAL-2247 -->
                <label class="bj-config-setting user-energy-monitor-block">{{ this.data.getTranslatedString("Energy monitor") }}</label><div class="slide-next energy-monitor"><span class="glyphicon glyphicon-menu-right"></span></div>
            </div>
            <div class="bj-config-setting-div other-settings-div" (click)="gotoSettings()">
                <label class="bj-config-setting user-settings-block" >{{ this.data.getTranslatedString("Settings") }}</label><div class="slide-next settings"><span class="glyphicon glyphicon-menu-right"></span></div>
            </div>
            <!-- <div class="bj-config-setting-div other-settings-div" (click)="gotoTestMode()">
                    <label class="bj-config-setting user-settings-block" >{{ this.data.getTranslatedString("Test mode") }}</label><div class="slide-next settings"><span class="glyphicon glyphicon-menu-right"></span></div>
            </div> -->
        </div>
    </div>
</div>