<img id="mySpinner" src="/assets/icons/spinner.gif" *ngIf=" this.data.DeviceBuild == 1 && !loadingDataDone" />
<div class="bj-config-container" *ngIf="loadingDataDone || this.data.DeviceBuild == 0"> 
<div id="bj-sensor-params-settings-div">
    <div class="bj-sensor-toggle brighteness-correction">
       <label class="bj-config-setting inner-setting sensor-params-function">Brightness correction</label>
            <span class="bj-config-toggle-switch">
            <div class="track"  (click)="toggleBr()"  [(ngModel)]="ad.brightnessCorrectionEnable" [ngStyle]="{'border-color': ad.brightnessCorrectionEnable == true ? '#26394f':'#c0c1c3'}" ngDefaultControl>
                <label class="switch-onlabel" *ngIf="ad.brightnessCorrectionEnable == true">{{onLabel}}</label>
                <label class="switch-offlabel" *ngIf="ad.brightnessCorrectionEnable == false">{{offLabel}}</label>
                <div class="switch" [ngClass]="{'switch-on':ad.brightnessCorrectionEnable == true,'switch-off':ad.brightnessCorrectionEnable == false}" [ngStyle]="{'background-color':ad.brightnessCorrectionEnable == true ? '#26394f':'#ccc'}"></div>
                </div>
        </span>
    </div> 
    <label class="bj-config-setting inner-setting sensor-params-function" *ngIf ="ad.brightnessCorrectionEnable == true">Brightness setpoint</label>
    <div class="bj-config-setting-adjust sensor-params-block" *ngIf ="ad.brightnessCorrectionEnable == true" >
        <div class="adjust-minus" long-press (click)="reduceCount('setpoint',true)" (longPressEnd)="reduceCount('setpoint',true)" (onLongPressing)="reduceCount('setpoint',false)" ><span class="glyphicon glyphicon-minus"></span></div>
        <input class="adjust" type="number" [(ngModel)]="ad.brightnessCorrectionValue">
        <div class="static-unit-text">lux</div>
        <div class="adjust-plus" long-press (click)="increaseCount('setpoint',true)" (longPressEnd)="reduceCount('setpoint',true)" (onLongPressing)="increaseCount('setpoint',false)" ><span class="glyphicon glyphicon-plus"></span>
        </div>
    </div>
    <div class = "bj-current-val">
        <label class="bj-config-setting brightness-function">Current brightness : </label>
        <input class="adjust-value brightness-function" type="text" disabled [(ngModel)]="ad.currentBrightness">
    </div>
    <div class="bj-sensor-toggle dynamic-delay">
    <label class="bj-config-setting inner-setting sensor-params-function">Dynamic switch-off delay</label>
            <span class="bj-config-toggle-switch">
            <div class="track"  (click)="toggledsd()"  [(ngModel)]="ad.DynamicSwitchOffDelayEnable" [ngStyle]="{'border-color': ad.DynamicSwitchOffDelayEnable == true ? '#26394f':'#c0c1c3'}" ngDefaultControl>
                <label class="switch-onlabel" *ngIf="ad.DynamicSwitchOffDelayEnable == true">{{onLabel}}</label>
                <label class="switch-offlabel" *ngIf="ad.DynamicSwitchOffDelayEnable == false">{{offLabel}}</label>
                <div class="switch" [ngClass]="{'switch-on':ad.DynamicSwitchOffDelayEnable == true,'switch-off':ad.DynamicSwitchOffDelayEnable == false}" [ngStyle]="{'background-color':ad.DynamicSwitchOffDelayEnable == true ? '#26394f':'#ccc'}"></div>
                </div>
        </span>
    </div>
    <div class="bj-config-setting-div sensor-params-div" (click)="gotoSensitivity()" >
        <label class="bj-config-setting inner-setting sensor-params-lbl" >Set sensitivity</label>
        <next-nav></next-nav>
    </div>
</div>
<div class="thirdLevel-config-container" ui-view="thirdLevel"></div>
</div>