<div class="start-body">
  <div class="box-welcome">
    <div id="square-blue"></div>
    <div id="square-white"></div>
    <div id="label-welcome" >{{ this.data.getTranslatedString("Welcome") }}</div>
  </div>
    <div class="bj-welcome-container">
        <div id="bj-label-selection">{{ this.data.getTranslatedString("Please select your user type") }} </div>
        <div id="bj-main-menu-nav">
            <ul id="bj-welcome-nav" class="nav nav-pills nav-stacked">
                <li (click)="gotoProfile('electrician')">{{ this.data.getTranslatedString("Installer") }}<span id="nav-right-electrician"  class="glyphicon glyphicon-menu-right"></span></li>
                <li (click)="gotoProfile('user')">{{ this.data.getTranslatedString("Standard User") }}<span id="nav-right-user" class="glyphicon glyphicon-menu-right"></span></li>
            </ul>
        </div>
    </div>
</div>