<div class="bj-user-container" (click)="removeIdentifyingDevice()">
    <div id="bj-user-empty-list" *ngIf="detectors"></div>
    <ul (click)="configureDetectorUser(detector)" *ngFor="let detector of detectors" class="bj-user-detectors-list">
        <li class="bj-user-detector-name">
            <div id="bj-user-detector-icon" (click)="identifyDevice(detector)" [ngStyle]="getMystyle(detector.identify)"><span class="glyphicon glyphicon-modal-window"></span></div>
            <span id="bj-user-detector-name-val">{{ detector.btDeviceName }}</span>
            <span id="nav-right" class="glyphicon glyphicon-menu-right"></span>
            <span id="bj-user-detector-icon-signal">
                <div class="signal-bars four-bars" *ngIf="getSignalRange(detector) > 3">
                    <div class="first-bar bar"></div>
                    <div class="second-bar bar"></div>
                    <div class="third-bar bar"></div>
                    <div class="fourth-bar bar"></div>
                </div>
                <div class="signal-bars  three-bars" *ngIf="getSignalRange(detector) ==  3">
                    <div class="first-bar bar"></div>
                    <div class="second-bar bar"></div>
                    <div class="third-bar bar"></div>
                    <div class="fourth-bar bar"></div>
                </div>
                <div class="signal-bars two-bars" *ngIf="getSignalRange(detector)== 2">
                    <div class="first-bar bar"></div>
                    <div class="second-bar bar"></div>
                    <div class="third-bar bar"></div>
                    <div class="fourth-bar bar"></div>
                </div>
                <div class="signal-bars  one-bar" *ngIf="getSignalRange(detector) <= 1">
                    <div class="first-bar bar"></div>
                    <div class="second-bar bar"></div>
                    <div class="third-bar bar"></div>
                    <div class="fourth-bar bar"></div>
                </div>
            </span>
            <span id="bj-user-detector-article-num">{{detector.modelNumber}}</span>
        </li>
    </ul>
    <div class="searching_spinner">
            <div class="spinner_waiting"></div>
            <br/>
            <span class="span1">Searching for devices</span>
        </div>
</div>


