<div class="bj-user-container">
    <div id="bj-user-empty-list" *ngIf="detectors"></div>
    <ul (click)="configureDetectorUser(detector)" *ngFor="let detector of detectors" class="bj-user-detectors-list">
        <div id="bj-user-detector-icon"><span class="glyphicon glyphicon-modal-window"></span></div>
        <li class="bj-user-detector-name">{{ detector.btDeviceName }}
            <span id="nav-right" class="glyphicon glyphicon-menu-right"></span>
            <span id="bj-user-detector-icon-signal" class="glyphicon glyphicon-signal"></span>
        </li>
    </ul>
</div>


