<div id="bj-testmode-div" *ngIf="getOtherParam()==testmode">
    <label class="bj-config-lbl testmode-master-lbl">Master</label>
    <div class="testmode-master-div">
        <div class="testmode-top-quadrants">
            <div class="testmode-quadrant q1" [ngStyle]="{'background':masterQuad=='q1' ? '#0076b7' :'#f9fafc'}">
                <img class="user-active q1-icon" src="../../../../assets/icons/14_004_user_foc.svg" alt="user-active" >
            </div>
            <div class="testmode-quadrant q2" [ngStyle]="{'background':masterQuad=='q2' ? '#0076b7' :'#f9fafc'}">
                <img class="user-active q2-icon" src="../../../../assets/icons/14_004_user_foc.svg" alt="user-active" >
            </div>
        </div>
        <div id="testmode-master-inner-ring">
            <div id="testmode-master-inner-icon">
                <span class="glyphicon glyphicon-modal-window"></span>
                <div class="testmode-sensor-status"></div>
            </div>
        </div>
        <div class="testmode-bottom-quadrants">
            <div class="testmode-quadrant q3" [ngStyle]="{'background':masterQuad=='q3' ? '#0076b7' :'#f9fafc'}">
                <img class="user-active q3-icon" src="../../../../assets/icons/14_004_user_foc.svg" alt="user-active" >
            </div>
            <div class="testmode-quadrant q4" [ngStyle]="{'background':masterQuad=='q4' ? '#0076b7' :'#f9fafc'}">
                <img class="user-active q4-icon" src="../../../../assets/icons/14_004_user_foc.svg" alt="user-active" >
            </div>
        </div>
    </div>
    <div class="bj-config-setting-div testmode-slave-div">
        <label class="bj-config-setting testmode-slave-block">Slaves</label>
        <img class="slave-dis" src="../../../../assets/icons/14_004_user_dis.svg" alt="slave_disabled">
    </div>
    <div id="testmode-settings-block">
        <label class="bj-config-lbl testmode-settings-test-lbl">Testmode settings</label>
        <div class="bj-config-setting-div testmode-settings-test-actuator1-div" >
            <label class="bj-config-setting testmode-settings-test-actuator1-block">Identify load on actuator 1</label>
                <span class="bj-config-toggle-switch">
                   <div class="track"  [ngStyle]="{'border-color':ch1_identifyingLoad== true ? '#26394f':'#c0c1c3'}">
                      <label class="switch-onlabel" *ngIf="true">{{onLabel}}</label>
                      <label class="switch-offlabel" *ngIf="false">{{offLabel}}</label>
                      <div class="switch" [ngClass]="{'switch-on':true,'switch-off':false}" [ngStyle]="{'background-color': true ? '#26394f':'#ccc'}"></div>
                   </div>
                </span>
        </div>
        <div class="bj-config-setting-div testmode-settings-test-actuator2-div" >
            <label class="bj-config-setting testmode-settings-test-actuator2-block">Identify load on actuator 2</label>
                <span class="bj-config-toggle-switch">
                  <div class="track"  [ngStyle]="{'border-color':true ? '#26394f':'#c0c1c3'}">
                     <label class="switch-onlabel" *ngIf="true">{{onLabel}}</label>
                     <label class="switch-offlabel" *ngIf="false">{{offLabel}}</label>
                     <div class="switch" [ngClass]="{'switch-on':true,'switch-off':false}" [ngStyle]="{'background-color': true ? '#26394f':'#ccc'}"></div>
                  </div>
                </span>
        </div>
        <div class="bj-config-setting-div testmode-settings-test-deactivate-div" >
            <label class="bj-config-setting testmode-settings-test-deactivate-block">Deactivation of outputs</label>
                <span class="bj-config-toggle-switch">
                  <div class="track"  [ngStyle]="{'border-color': true ? '#26394f':'#c0c1c3'}">
                      <label class="switch-onlabel" *ngIf="true">{{onLabel}}</label>
                      <label class="switch-offlabel" *ngIf="false">{{offLabel}}</label>
                      <div class="switch" [ngClass]="{'switch-on':true,'switch-off':false}" [ngStyle]="{'background-color':true ? '#26394f':'#ccc'}"></div>
                  </div>
                </span>
        </div>
    </div>
</div>