<p>
  this dummy component if just for refereing the i18n language tokens which are missing 
  in html files 
</p>
<span *ngIf="false">
<ng-container i18n>About Busch-Jaeger</ng-container>
<ng-container i18n>Help</ng-container>
<ng-container i18n>Switch mode</ng-container>
<ng-container i18n>Installed devices</ng-container>
<ng-container i18n>Sync with myBUSCH-JAEGER</ng-container>
<ng-container i18n>Menu</ng-container>
<ng-container i18n>Download manuals</ng-container>
<ng-container i18n>Configure detector</ng-container>
<ng-container i18n>Settings of actuator 1</ng-container>
<ng-container i18n>Settings of actuator 2</ng-container>
<ng-container i18n>Search</ng-container>
<ng-container i18n>Sort by</ng-container>
<ng-container i18n>Name of new profile</ng-container>
<ng-container i18n>Save</ng-container>
<ng-container i18n>Reset</ng-container>
<ng-container i18n>Total savings</ng-container>
<ng-container i18n>Current duration of Yearly light</ng-container>
<ng-container i18n>January</ng-container>
<ng-container i18n>February</ng-container>
<ng-container i18n>March</ng-container>
<ng-container i18n>April</ng-container>
<ng-container i18n>May</ng-container>
<ng-container i18n>June</ng-container>
<ng-container i18n>July</ng-container>
<ng-container i18n>August</ng-container>
<ng-container i18n>September</ng-container>
<ng-container i18n>October</ng-container>
<ng-container i18n>November</ng-container>
<ng-container i18n>December</ng-container>
<ng-container i18n>Currency</ng-container>
<ng-container i18n>Sensor settings</ng-container>
<ng-container i18n>Potentiometers</ng-container>
<ng-container i18n>Enabled</ng-container>
<ng-container i18n>Blocked</ng-container>
<ng-container i18n>Limit access after power cycle</ng-container>
<ng-container i18n>Brightness threshold</ng-container>
<ng-container i18n>lx</ng-container>
<ng-container i18n>Brightness set point</ng-container>
<ng-container i18n>Take over current brightness</ng-container>
<ng-container i18n>Consider slave brightness</ng-container>
<ng-container i18n>Smallest brightness value as reference</ng-container>
<ng-container i18n>Short-time pulse</ng-container>
<ng-container i18n>Switch-off delay</ng-container>
<ng-container i18n>s</ng-container>
<ng-container i18n>min</ng-container>
<ng-container i18n>Additional sensor parameters</ng-container>
<ng-container i18n>Operating mode</ng-container>
<ng-container i18n>Automatic</ng-container>
<ng-container i18n>Semiautomatic</ng-container>
<ng-container i18n>Semiautomatic, comfort</ng-container>
<ng-container i18n>Actuator settings</ng-container>
<ng-container i18n>Actuator 1</ng-container>
<ng-container i18n>Actuator 2</ng-container>
<ng-container i18n>Service functions</ng-container>
<ng-container i18n>Test mode</ng-container>
<ng-container i18n>Load detector profile</ng-container>
<ng-container i18n>Save as user profile</ng-container>
<ng-container i18n>Update Firmware</ng-container>
<ng-container i18n>Energy monitor</ng-container>
<ng-container i18n>Reset to factory settings</ng-container>
<ng-container i18n>Building allocation</ng-container>
<ng-container i18n>Release to user</ng-container>
<ng-container i18n>Use master in slave mode</ng-container>
<ng-container i18n>Brightness correction</ng-container>
<ng-container i18n>Current brightness</ng-container>
<ng-container i18n>Dynamic switch-off delay</ng-container>
<ng-container i18n>Set sensitivity</ng-container>
<ng-container i18n>Outdoor application</ng-container>
<ng-container i18n>Circuit logic</ng-container>
<ng-container i18n>NC contact</ng-container>
<ng-container i18n>NO contact</ng-container>
<ng-container i18n>Permanent light ON/OFF</ng-container>
<ng-container i18n>Enabled by push button</ng-container>
<ng-container i18n>Permanent ON for…</ng-container>
<ng-container i18n>Permanent OFF for…</ng-container>
<ng-container i18n>Soft ON</ng-container>
<ng-container i18n>Soft OFF</ng-container>
<ng-container i18n>Dimming mode</ng-container>
<ng-container i18n>Leading edge</ng-container>
<ng-container i18n>Trailing edge</ng-container>
<ng-container i18n>Additional Settings</ng-container>
<ng-container i18n>Memory function</ng-container>
<ng-container i18n>Limit room brightness</ng-container>
<ng-container i18n>Minimum load</ng-container>
<ng-container i18n>Maximum load</ng-container>
<ng-container i18n>DALI settings</ng-container>
<ng-container i18n>Power ON level</ng-container>
<ng-container i18n>OFF</ng-container>
<ng-container i18n>Memo</ng-container>
<ng-container i18n>100%</ng-container>
<ng-container i18n>Reset control gear</ng-container>
<ng-container i18n>Fluorescent lamps</ng-container>
<ng-container i18n>Burn in function</ng-container>
<ng-container i18n>Burn in mode</ng-container>
<ng-container i18n>Steady</ng-container>
<ng-container i18n>Accumulated</ng-container>
<ng-container i18n>Reset operating hours</ng-container>
<ng-container i18n>Basic brightness</ng-container>
<ng-container i18n>Determined by time</ng-container>
<ng-container i18n>Determined by brightness</ng-container>
<ng-container i18n>Basic illumination level</ng-container>
<ng-container i18n>Ambient brightness threshold</ng-container>
<ng-container i18n>Start time</ng-container>
<ng-container i18n>End time</ng-container>
<ng-container i18n>Astro function</ng-container>
<ng-container i18n>Night light </ng-container>
<ng-container i18n>Stepwise switch-off</ng-container>
<ng-container i18n>Switching function</ng-container>
<ng-container i18n>Disabled</ng-container>
<ng-container i18n>Brightness independent</ng-container>
<ng-container i18n>Switch off DALI control gear voltage</ng-container>
<ng-container i18n>Synchronous operation</ng-container>
<ng-container i18n>Blackboard lightening</ng-container>
<ng-container i18n>Manual</ng-container>
<ng-container i18n>HVAC</ng-container>
<ng-container i18n>Dynamic control</ng-container>
<ng-container i18n>Switch-on delay</ng-container>
<ng-container i18n>Master</ng-container>
<ng-container i18n>Slaves</ng-container>
<ng-container i18n>Test mode settings</ng-container>
<ng-container i18n>Identify load on actuator 1</ng-container>
<ng-container i18n>Identify load on actuator 2</ng-container>
<ng-container i18n>No Profile</ng-container>
<ng-container i18n>Predefined profiles</ng-container>
<ng-container i18n>User profiles</ng-container>
<ng-container i18n>Add profile</ng-container>
<ng-container i18n>Reference details</ng-container>
<ng-container i18n>Connected load</ng-container>
<ng-container i18n>Lighting duration per week</ng-container>
<ng-container i18n>Electricity price</ng-container>
<ng-container i18n>All</ng-container>
<ng-container i18n>With this password you gain access to all settings of the device</ng-container>
<ng-container i18n>Show password</ng-container>
<ng-container i18n>Standard User password</ng-container>
<ng-container i18n>With this password you gain access to light settings</ng-container>
<ng-container i18n>Contact Name</ng-container>
<ng-container i18n>Building</ng-container>
<ng-container i18n>Settings</ng-container>
<ng-container i18n>Send</ng-container>
<ng-container i18n>Deactivate test mode</ng-container>
<ng-container i18n>Load</ng-container>
<ng-container i18n>Block potentiometer setting</ng-container>
<ng-container i18n>Smallest value as reference</ng-container>
<ng-container i18n>Service</ng-container>
<ng-container i18n>Saved profile</ng-container>
<ng-container i18n>Enable settings</ng-container>
<ng-container i18n>NC contact </ng-container>
<ng-container i18n>Operating hours</ng-container>
<ng-container i18n>Switch-off time</ng-container>
<ng-container i18n>Selected user profile</ng-container>
<ng-container i18n>Installer</ng-container>
<ng-container i18n>Standard User</ng-container>
<ng-container i18n>Username</ng-container>
<ng-container i18n>Password</ng-container>
<ng-container i18n>You are now logged in</ng-container>
<ng-container i18n>Logout</ng-container>
<ng-container i18n>Sync now</ng-container>
<ng-container i18n>Light 1</ng-container>
<ng-container i18n>Light 2</ng-container>
<ng-container i18n>Month Overview</ng-container>
<ng-container i18n>Year Overview</ng-container>
<ng-container i18n>Reset data</ng-container>
<ng-container i18n>Presence simulation</ng-container>
</span>