<p>
  this dummy component if just for refereing the i18n language tokens which are missing 
  in html files 
</p>
<span *ngIf="false">
<ng-container i18n>About Busch-Jaeger</ng-container>
<ng-container i18n>Help</ng-container>
<ng-container i18n>Switch mode</ng-container>
<ng-container i18n>Installed devices</ng-container>
<ng-container i18n>Sync with myBUSCH-JAEGER</ng-container>
<ng-container i18n>Menu</ng-container>
<ng-container i18n>Download manuals</ng-container>
<ng-container i18n>Configure detector</ng-container>
<ng-container i18n>Settings of actuator 1</ng-container>
<ng-container i18n>Settings of actuator 2</ng-container>
<ng-container i18n>Search</ng-container>
<ng-container i18n>Sort by</ng-container>
<ng-container i18n>Name of new profile</ng-container>
<ng-container i18n>Save</ng-container>
<ng-container i18n>Reset</ng-container>
<ng-container i18n>Total savings</ng-container>
<ng-container i18n>Current duration of Yearly light</ng-container>
<ng-container i18n>January</ng-container>
<ng-container i18n>February</ng-container>
<ng-container i18n>March</ng-container>
<ng-container i18n>April</ng-container>
<ng-container i18n>May</ng-container>
<ng-container i18n>June</ng-container>
<ng-container i18n>July</ng-container>
<ng-container i18n>August</ng-container>
<ng-container i18n>September</ng-container>
<ng-container i18n>October</ng-container>
<ng-container i18n>November</ng-container>
<ng-container i18n>December</ng-container>
<ng-container i18n>Currency</ng-container>
</span>