<div class="bj-config-container">
      <div class="bj-config-detector-name-wrap">
         <div id="bj-config-detector-name">
                <input id="device-name-input" type="text" name="deviceName" [(ngModel)]="activeDevice.btDeviceName">
         </div>
      </div>
      <img id="mySpinner" src="assets/icons/spinner.gif" *ngIf=" this.data.DeviceBuild == 1 && !loadingDataDone" />
      <div id="bj-config-settings-container" *ngIf="loadingDataDone || this.data.DeviceBuild == 0">
        <div id="bj-config-sensor-div">
             <label class="bj-config-lbl sensor-div">Sensor settings</label>
             <div class="bj-config-setting-div" >
                    <label class="bj-config-setting potentiometer-block">Potentiometers</label>
                    <div><label class="bj-config-setting">Enabled</label><input type="radio" class="operating-radio" [(ngModel)]="ad.potentiometerMode" (ngModelChange)="potentioMeterChanged()" [checked]="ad.potentiometerMode === 0" name="potentiometer_mode" [value]="0"/></div>
                    <div><label class="bj-config-setting">Blocked</label><input type="radio" class="operating-radio" [(ngModel)]="ad.potentiometerMode" (ngModelChange)="potentioMeterChanged()" [checked]="ad.potentiometerMode === 1" name="potentiometer_mode" [value]="1"/></div>
                    <div><label class="bj-config-setting">Limit access after power cycle</label><input type="radio" class="operating-radio"  [(ngModel)]="ad.potentiometerMode" (ngModelChange)="potentioMeterChanged()" [checked]="ad.potentiometerMode === 2" name="potentiometer_mode" [value]="2"/></div>
        </div>
            <div class="bj-config-setting-div constant-light-div" *ngIf="ad.constantLightControlEnable !== undefined && activeDevice.deviceType == 'daliMaster1c'" >
                 <label class="bj-config-setting constant-light-function">Constant light regulation</label>
                    <span class="bj-config-toggle-switch">
                         <div class="track"  (click)="toggleclr()" [(ngModel)]="ad.constantLightControlEnable" [ngStyle]="{'border-color': ad.constantLightControlEnable == true ? '#26394f':'#c0c1c3'}" ngDefaultControl>
                             <label class="switch-onlabel" *ngIf="ad.constantLightControlEnable == true">{{onLabel}}</label>
                             <label class="switch-offlabel" *ngIf="ad.constantLightControlEnable == false">{{offLabel}}</label>
                             <div class="switch" [ngClass]="{'switch-on':ad.constantLightControlEnable == true,'switch-off':ad.constantLightControlEnable == false}" [ngStyle]="{'background-color':ad.constantLightControlEnable== true ? '#26394f':'#ccc'}"></div>
                         </div>
                    </span>
            </div>
            <div class="bj-config-setting-block-br-div brightness-div" >
              <label class="bj-config-setting brightnessthreshold-function">Brightness threshold ({{ad.brightnessThresholdMin}} - {{ad.brightnessThresholdMax}} lx)</label>
              <div class="bj-config-setting-adjust brightness-function">
                  <div class="adjust-minus" long-press (click)="reduceCount('threshold',true)" (onLongPressEnd)="reduceCount('threshold',true)" (onLongPressing)="reduceCount('threshold',false)"><span class="glyphicon glyphicon-minus"></span></div>
                  <input class="adjust" type="number"  [(ngModel)]="ad.brightnessThreshold"  (ngModelChange)="brThresholdChange(this)" min="ad.brightnessThresholdMin"  max="ad.brightnessThresholdMax"  [ngStyle]="{'color': brthresholderror == true?'red' : '#26394f'}">
                  <div class="static-unit-text">lx</div>
                  <div class="adjust-plus" long-press (click)="increaseCount('threshold',true)" (onLongPressEnd)="increaseCount('threshold',true)" (onLongPressing)="increaseCount('threshold',false)"><span class="glyphicon glyphicon-plus"></span>
                  </div>
              </div>
              <label class="bj-config-setting brightnesssetpoint-function">Brightness set point ({{ad.constantLightBrightnessSetPointMin}} - {{ad.constantLightBrightnessSetPointMax}} lx)</label>
              <div class="bj-config-setting-adjust brightness-function">
                  <div class="adjust-minus" long-press  (click)="reduceCount('setpoint',true)" (onLongPressEnd)="reduceCount('setpoint',true)" (onLongPressing)="reduceCount('setpoint',false)"><span class="glyphicon glyphicon-minus"></span></div>
                  <input class="adjust" type="number"  [(ngModel)]="ad.constantLightBrightnessSetPoint" min="ad.constantLightBrightnessSetPointMin"   max="ad.constantLightBrightnessSetPointMax"  [ngStyle]="{'color': brsetpointerror == true?'red' : '#26394f'}">
                  <div class="static-unit-text">lx</div>
                  <div class="adjust-plus" long-press (click)="increaseCount('setpoint',true)" (onLongPressEnd)="increaseCount('setpoint',true)" (onLongPressing)="increaseCount('setpoint',false)"><span class="glyphicon glyphicon-plus"></span></div>
              </div>
              <div class = "bj-current-val">
                    <label class="bj-config-setting brightness-function">Take over current brightness</label>
                    <input class="adjust-value brightness-function" type="number" (keyup)="setCurrentBr($event)" [(ngModel)]="ad.currentBrightness">
              </div>
            </div>

           <div class="bj-config-setting-div slave-brightness-div" *ngIf ="ad.considerSlaveBrightnessEnable == false && activeDevice.deviceType == 'daliMaster1c'" >
                 <label class="bj-config-setting slave-brightness-function" >Consider slave brightness</label>
            <span class="bj-config-toggle-switch">
                         <div class="track"  (click)="togglecsb()"   [(ngModel)]="ad.considerSlaveBrightnessEnable" [ngStyle]="{'border-color': ad.considerSlaveBrightnessEnable == true ? '#26394f':'#c0c1c3'}" ngDefaultControl>
                             <label class="switch-onlabel" *ngIf="ad.considerSlaveBrightnessEnable == true">{{onLabel}}</label>
                             <label class="switch-offlabel" *ngIf="ad.considerSlaveBrightnessEnable == false">{{offLabel}}</label>
                             <div class="switch" [ngClass]="{'switch-on':ad.considerSlaveBrightnessEnable == true,'switch-off':ad.considerSlaveBrightnessEnable == false}" [ngStyle]="{'background-color': ad.considerSlaveBrightnessEnable == true ? '#26394f':'#ccc'}"></div>
                         </div>
                    </span>
            </div>
            <div class="bj-config-setting-div reference-brightness-div" *ngIf ="ad.constantLightControlEnable == true && activeDevice.deviceType == 'daliMaster1c'">
                 <label class="bj-config-setting reference-brightness-function">Smallest brightness value as reference</label>
                      <span class="bj-config-toggle-switch">
                         <div class="track"  (click)="togglerrb()" [(ngModel)]="ad.constantLightControlConsiderSlaveBrightnessEnable" [ngStyle]="{'border-color': ad.constantLightControlConsiderSlaveBrightnessEnable == true ? '#26394f':'#c0c1c3'}" ngDefaultControl>
                             <label class="switch-onlabel" *ngIf="ad.constantLightControlConsiderSlaveBrightnessEnable == true">{{onLabel}}</label>
                             <label class="switch-offlabel" *ngIf="ad.constantLightControlConsiderSlaveBrightnessEnable == false">{{offLabel}}</label>
                             <div class="switch" [ngClass]="{'switch-on':ad.constantLightControlConsiderSlaveBrightnessEnable == true,'switch-off':ad.constantLightControlConsiderSlaveBrightnessEnable == false}" [ngStyle]="{'background-color': ad.constantLightControlConsiderSlaveBrightnessEnable == true ? '#26394f':'#ccc'}"></div>
                         </div>
                    </span>
            </div>
            <div class="bj-config-setting-block-sp-div short-time-pulse-div" >
                  <label class="bj-config-setting short-time-pulse-function" *ngIf="activeDevice.deviceType == 'relay1c' || activeDevice.deviceType == 'mosfet1c'">Short-time pulse</label>
                    <span class="bj-config-toggle-switch" *ngIf="activeDevice.deviceType == 'relay1c' || activeDevice.deviceType == 'mosfet1c'">
                         <div class="track"  (click)="togglestp()"  [(ngModel)]="ad.shortTimePulseEnable" [ngStyle]="{'border-color': ad.shortTimePulseEnable == true ? '#26394f':'#c0c1c3'}" ngDefaultControl>
                             <label class="switch-onlabel" *ngIf="ad.shortTimePulseEnable == true">{{onLabel}}</label>
                             <label class="switch-offlabel" *ngIf="ad.shortTimePulseEnable == false">{{offLabel}}</label>
                             <div class="switch" [ngClass]="{'switch-on':ad.shortTimePulseEnable == true,'switch-off':ad.shortTimePulseEnable == false}" [ngStyle]="{'background-color': ad.shortTimePulseEnable == true ? '#26394f':'#ccc'}"></div>
                         </div>
                    </span>
                    <div *ngIf="(((activeDevice.deviceType == 'relay1c' || activeDevice.deviceType == 'mosfet1c') && ad.shortTimePulseEnable == false) || activeDevice.deviceType == 'daliMaster1c')">
                        <label class="bj-config-setting-block-lbl short-time-pulse-function"  >Switch-off delay 
                            ( {{ad.switchOffDelayMin }} s - {{ad.switchOffDelayMax/60}} min )</label>
                        <div class="bj-config-setting-adjust short-time-pulse-function "  >
                            <div class="adjust-minus" long-press (click)="reduceCount('sdelay',true)" (onLongPressEnd)="reduceCount('sdelay',true)" (onLongPressing)="reduceCount('sdelay',false)" ><span class="glyphicon glyphicon-minus"></span></div>
                                <input class="adjust" type="number"  [(ngModel)]="ad.switchOffDelay"   [ngStyle]="{'color': sdelayerror == true?'red' : '#26394f'}">
                                <div class="static-unit-text">s</div>
                                <div class="adjust-plus" long-press (click)="increaseCount('sdelay',true)" (onLongPressEnd)="increaseCount('sdelay',true)" (onLongPressing)="increaseCount('sdelay',false)"><span class="glyphicon glyphicon-plus"></span>
                                </div>
                        </div>
                    </div>
            </div>
            <div class="bj-config-setting-div additional-sensor-div" (click)="gotoaddParams()">
                  <label class="bj-config-setting additional-sensor-lbl">Additional sensor parameters</label>
                  <next-nav></next-nav>
            </div>
        </div>
        <div id="bj-config-operating-div">
            <label class="bj-config-lbl operating-div">Operating mode</label>
            <div><label class="bj-config-setting operating-auto-lbl">Automatic</label><input type="radio" class="operating-radio" [(ngModel)]="ad.operationMode" (ngModelChange)="operationChanged()"  [checked]="ad.operationMode == 0"  name="operation_Mode" [value]="0"/></div>
            <div><label class="bj-config-setting operating-semi-lbl">Semiautomatic</label><input type="radio" class="operating-radio"   [(ngModel)]="ad.operationMode" (ngModelChange)="operationChanged()" [checked]="ad.operationMode == 1" name="operation_Mode" [value]="1"/></div>
            <div><label class="bj-config-setting operating-comfort-lbl">Semiautomatic, comfort</label><input type="radio" class="operating-radio" [(ngModel)]="ad.operationMode" (ngModelChange)="operationChanged()"  [checked]="ad.operationMode == 2"  name="operation_Mode" [value]="2"/></div>
      </div>
      <div id="bj-actuator-settings-div">
            <label class="bj-config-lbl actuator-div">Actuator settings</label>
            <div class="bj-config-setting-div actuator1-div">
                 <div class="bj-actuator-brightness" *ngIf="ad.ch1OnOffState==true">
                     <div class="bj-actuator-bulb actuator1">
                        <label class="actuator-name">Actuator 1</label>
                         <img class="bulb-off" *ngIf="!ad.ch1OnOffState" src="assets/icons/08_001_light_deact.svg" alt="bulb_inactive">
                         <div class="bulb-glow" *ngIf="ad.ch1OnOffState">
                            <img class="bulb-glow" *ngIf="ad.ch1OnOffState" src="assets/icons/08_002_lightglow_def.svg" alt="bulb_glow">
                            <img class="bulb-on light1" *ngIf="ad.ch1OnOffState" src="assets/icons/08_001_light_act.svg" alt="bulb_active">
                         </div>
                     </div>
                     <div class="bj-actuator-slider">
                         <label class="bj-brightness-lbl">{{ad.ch1CurrentLevel}}%</label>
                         <div class="slide-open" (click)="slideBrightnessIn()"><span class="glyphicon glyphicon-menu-left"></span></div>
                     </div>
                     <div class="bj-brightness-slider" *ngIf="activeDevice.deviceType == 'daliMaster1c'" [@slideIn1]="aslider" (@slideIn1.start)="animationStarted($event)" (@slideIn1.done)="animationDone($event)">
                         <div class="slide-close" (click)="slideBrightnessOut()"><span class="glyphicon glyphicon-menu-right"></span></div> 
                         <div class="bj-slider-control" [@slideIn2]="aslider" (@slideIn2.start)="animationStarted($event)" (@slideIn2.done)="animationDone($event)">
                             <input class = "actuator-range" type="range" name="points" min="0" max="100" step="1" (ngModelChange)="brightnessChanged()"  [(ngModel)]="ad.ch1CurrentLevel" [ngStyle]="slideBackground(ad.ch1CurrentLevel)">
                         </div>
                     </div>
                 </div>
            </div>
            <div class="bj-config-setting-div service-div" (click)="gotoActuator1()" *ngIf="ad.ch1OnOffState==true">
                <label class="bj-config-setting actuator1-block">Actuator 1</label>
                <next-nav></next-nav>
            </div>
            <div class="bj-config-setting-div actuator2-div" *ngIf="activeDevice.deviceType == 'daliMaster1c'" >
                  <div class="bj-actuator-brightness">
                      <div class="bj-actuator-bulb actuator2">
                          <label class="actuator-name">Actuator 2</label>
                          <img class="bulb-off" *ngIf="!ad.ch2OnOffState" src="assets/icons/08_001_light_deact.svg" alt="bulb_inactive">
                          <div class="bulb-glow" *ngIf="ad.ch2OnOffState">
                            <img class="bulb-on light2" *ngIf="ad.ch2OnOffState" src="assets/icons/08_001_light_act.svg" alt="bulb_active">
                          </div>
                      </div>
                  </div>
            </div>
            <div class="bj-config-setting-div service-div" (click)="gotoActuator2()" *ngIf="activeDevice.deviceType == 'daliMaster1c'">
                <label class="bj-config-setting actuator2-block">Actuator 2</label>
                <next-nav></next-nav>
            </div>

          </div>

      <div id="bj-service-settings-div">
            <label class="bj-service-lbl service-div">Service functions</label>
            <div class="bj-config-setting-div service-div" (click)="gotoOtherParams('testmode','Test mode')">
              <label class="bj-config-setting testmode-block">Test mode</label>
              <next-nav></next-nav>
            </div>
            <div class="bj-config-setting-div service-div" (click)="gotoOtherParams('loaddetectorprofile','Load detector profile')">
              <label class="bj-config-setting load-detector-block">Load detector profile</label>
              <next-nav></next-nav>
            </div>
            <div class="bj-config-setting-div service-div" (click)="gotoOtherParams('saveasuserprofile','Save as user profile')">
              <label class="bj-config-setting save-user-profile-block">Save as user profile</label>
              <next-nav></next-nav>
            </div>
            <div class="bj-config-setting-div service-div" (click)="gotoOtherParams('updatefirmware','Update firmware')">
              <label class="bj-config-setting update-firmware-block">Update firmware</label>
              <next-nav></next-nav>
            </div>
            <div class="bj-config-setting-div service-div" *ngIf="ad.slaveModeEnable == 0" (click)="gotoOtherParams('energymonitor','Energy monitor')">
              <label class="bj-config-setting energy-monitor-block">Energy monitor</label>
              <next-nav></next-nav>
            </div>
            <div class="bj-config-setting-div service-div" (click)="showResetDialog()" >
              <label class="bj-config-setting reset-block">Reset to factory settings</label><span class="glyphicon glyphicon-stop"></span>
            </div>
             <div class="bj-config-setting-div commissioning-div" (click)="gotoOtherParams('setpins','Set passwords')">
                  <label class="bj-config-setting pin-block">Set PINs</label>
                  <next-nav></next-nav>
             </div>
             <div class="bj-config-setting-div commissioning-div" *ngIf="ad.slaveModeEnable == 0" (click)="gotoOtherParams('buildingallocation','Building Allocation')">
                  <label class="bj-config-setting building-allocation-block">Building allocation</label>
                  <next-nav></next-nav>
             </div>
             <div class="bj-config-setting-div commissioning-div" *ngIf="ad.slaveModeEnable == 0" (click)="gotoOtherParams('releasetouser','Release to user')">
                  <label class="bj-config-setting building-allocation-block">Release to user</label>
                  <next-nav></next-nav>
             </div>
             <div class="bj-config-setting-div commissioning-div" *ngIf="activeDevice.deviceType == 'daliMaster1c'">
                  <label class="bj-config-setting master-in-slave-block">Use master in slave mode</label>
                    <span class="bj-config-toggle-switch">
                         <div class="track"  (click)="togglemsd()"   [(ngModel)]="ad.slaveModeEnable" [ngStyle]="{'border-color': ad.slaveModeEnable == 1 ? '#26394f':'#c0c1c3'}" ngDefaultControl>
                             <label class="switch-onlabel" *ngIf="ad.slaveModeEnable == 1">{{onLabel}}</label>
                             <label class="switch-offlabel" *ngIf="ad.slaveModeEnable== 0">{{offLabel}}</label>
                             <div class="switch" [ngClass]="{'switch-on':ad.slaveModeEnable == 1,'switch-off':ad.slaveModeEnable == 0}" [ngStyle]="{'background-color': ad.slaveModeEnable == 1 ? '#26394f':'#ccc'}"></div>
                         </div>
                    </span>
             </div>
      </div>
    </div>
</div>
