<div class="bj-config-container" *ngIf="activeDevice.deviceType == 'daliMaster1c'">
<div id="bj-actuator1-sub-settings-div" >
    <div class="bj-config-setting-div actuator2-circuit-logic-div" style="border-bottom:none;" *ngIf ="ad.ch2Mode != 0">
        <div class="bj-config-setting inner-setting actuator2 heading">
            <label class="actuator-circuit-logic-lbl">Circuit logic</label>
            <div class="bj-actuator-toggle" (click)="showCircuitSettings = !showCircuitSettings">
                <down-nav *ngIf="!showCircuitSettings"></down-nav>
                <up-nav *ngIf="showCircuitSettings"></up-nav>
            </div>
        </div>
        <div *ngIf="showCircuitSettings">
            <div class="bj-config-setting inner-setting actuator2"><label id="circuit-logic-NC-lbl">NC contact</label><input type="radio" class="circuit-radio" (ngModelChange)="circuitModeChange()"  [(ngModel)]="ad.ch2CircuitLogic" [checked]="ad.ch2CircuitLogic === 0" name="circuit_logic" [value]="0"/></div>
            <div class="bj-config-setting inner-setting actuator2"><label id="circuit-logic-NO-lbl">NO contact</label><input type="radio" class="circuit-radio" (ngModelChange)="circuitModeChange()"  [(ngModel)]="ad.ch2CircuitLogic" [checked]="ad.ch2CircuitLogic === 1"  name="circuit_logic" [value]="1"/></div>
        </div>
    </div>
    <div class="bj-config-setting-div actuator2-switching-function-div" style="border-bottom:none;">
        <div class="bj-config-setting inner-setting actuator2 heading">
            <label class="actuator-switching-function-lbl">Switching function</label>
            <div class="bj-actuator-toggle" (click)="showSoftSwitchingSettings = !showSoftSwitchingSettings">
                <down-nav *ngIf="!showSoftSwitchingSettings"></down-nav>
                <up-nav *ngIf="showSoftSwitchingSettings"></up-nav>
            </div>
        </div>
        <div *ngIf="showSoftSwitchingSettings">
            <div class="bj-config-setting inner-setting actuator2"><label id="disabled-lbl">Disabled</label><input type="radio" class="circuit-radio" (ngModelChange)="ch2ModeChange()" [(ngModel)]="ad.ch2Mode" [checked]="ad.ch2Mode === 0" name="circuit_mode" [value]="0"/></div>
            <div class="bj-config-setting inner-setting actuator2"><label id="brightness-lbl">Brightness independent</label><input type="radio" class="circuit-radio"  (ngModelChange)="ch2ModeChange()" [(ngModel)]="ad.ch2Mode" [checked]="ad.ch2Mode === 1"name="circuit_mode" [value]="1"/></div>
            <div class="bj-config-setting inner-setting actuator2"><label id="gear-volt-lbl">Switch off DALI control gear voltage</label><input type="radio" class="circuit-radio" (ngModelChange)="ch2ModeChange()" [(ngModel)]="ad.ch2Mode" [checked]="ad.ch2Mode === 2" name="circuit_mode" [value]="2"/></div>
            <div class="bj-config-setting inner-setting actuator2"><label id="sync-operation-lbl">Synchronous operation</label><input type="radio" class="circuit-radio"  (ngModelChange)="ch2ModeChange()" [(ngModel)]="ad.ch2Mode" [checked]="ad.ch2Mode === 3" name="circuit_mode" [value]="3"/></div>
            <div class="bj-config-setting inner-setting actuator2"><label id="blackboard-light-lbl">Blackboard lightening</label><input type="radio" class="circuit-radio" (ngModelChange)="ch2ModeChange()" [(ngModel)]="ad.ch2Mode" [checked]="ad.ch2Mode === 4" name="circuit_mode" [value]="4"/></div>
            <div class="bj-config-setting inner-setting actuator2"><label id="manual-lbl">Manual</label><input type="radio" class="circuit-radio" name="circuit_mode" (ngModelChange)="ch2ModeChange()" [(ngModel)]="ad.ch2Mode" [checked]="ad.ch2Mode === 5" [value]="5"/></div>
            <div class="bj-config-setting inner-setting actuator2"><label id="hvac-lbl">HVAC</label><input type="radio" class="circuit-radio"  name="circuit_mode" (ngModelChange)="ch2ModeChange()" [(ngModel)]="ad.ch2Mode" [checked]="ad.ch2Mode === 6" [value]="6"/></div>
            <div class="bj-config-setting inner-setting actuator2 dynamic-control" >
                <label class="actuator-dynamic-control-lbl">Dynamic control</label>
                     <span class="bj-config-toggle-switch actuator2">
                        <div class="track"   (click)="togglehvacDC()"  [(ngModel)]="ad.hvacDynamicalControlEnable" [ngStyle]="{'border-color': ad.hvacDynamicalControlEnable == true ? '#26394f':'#c0c1c3'}" ngDefaultControl>
                        <label class="switch-onlabel" *ngIf="ad.hvacDynamicalControlEnable  == true">{{onLabel}}</label>
                        <label class="switch-offlabel" *ngIf="!ad.hvacDynamicalControlEnable  == true">{{offLabel}}</label>
                        <div class="switch" [ngClass]="{'switch-on':ad.hvacDynamicalControlEnable  == true,'switch-off':ad.hvacDynamicalControlEnable  == false }" [ngStyle]="{'background-color':ad.hvacDynamicalControlEnable  == true ? '#26394f':'#ccc'}">
                        </div>
                          </div>
                     </span>
            </div>
            <div class="bj-config-setting inner-setting actuator2 switch-on-delay-div" >
                <label class="switch-on-delay-actuator2-lbl">Switch-on delay</label>
                <div class="bj-config-setting-adjust switch-on-delay-actuator2">
                        <div class="adjust-minus" long-press (click)="reduceCount('sondelay,true)" (onLongPressEnd)="longPressEnd('sondelay')" (onLongPressing)="reduceCount('sondelay',false)" ><span class="glyphicon glyphicon-minus"></span></div>
                        <input class="adjust" type="number" [(ngModel)]="ad.hvacSwitchOnDelay" [ngStyle]="{'color': '#26394f'}">
                        <div class="static-unit-text" > s </div>
                        <div class="adjust-plus" long-press (click)="increaseCount('sondelay',true)" (onLongPressEnd)="longPressEnd('sondelay')" (onLongPressing)="increaseCount('sondelay',false)" ><span class="glyphicon glyphicon-plus"></span>
                        </div>
                </div>
                <label class="switch-off-delay-actuator2-lbl">Switch-off delay</label>
                <div class="bj-config-setting-adjust switch-off-delay-actuator2">
                    <div class="adjust-minus" long-press (click)="reduceCount('soffdelay,true)" (onLongPressEnd)="longPressEnd('soffdelay')" (onLongPressing)="reduceCount('soffdelay',false)" ><span class="glyphicon glyphicon-minus"></span></div>
                        <input class="adjust" type="number" [(ngModel)]="ad.hvacSwitchOffDelay" [ngStyle]="{'color': '#26394f'}">
                        <div class="static-unit-text" > s </div>
                        <div class="adjust-plus" long-press (click)="increaseCount('soffdelay',true)" (onLongPressEnd)="longPressEnd('soffdelay')" (onLongPressing)="increaseCount('soffdelay',false)" ><span class="glyphicon glyphicon-plus"></span>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>