<div class="bj-config-container">
<div id="bj-actuator1-sub-settings-div">
    <!--circuit-logic-->
    <div class="bj-config-setting-div actuator1-circuit-logic-div" style="border-bottom:none;">
        <div class="bj-config-setting inner-setting actuator1 heading">
            <label class="actuator-circuit-logic-lbl">Circuit logic</label>
            <div class="bj-actuator-toggle" (click)="showCircuitSettings = !showCircuitSettings">
                <down-nav *ngIf="!showCircuitSettings"></down-nav>
                <up-nav *ngIf="showCircuitSettings"></up-nav>
            </div>
        </div>
        <div *ngIf="showCircuitSettings">
            <div class="bj-config-setting inner-setting actuator1"><label id="circuit-logic-NC-lbl">NC contact</label><input type="radio" class="circuit-radio" name="circuit_logic" value="0"/></div>
            <div class="bj-config-setting inner-setting actuator1"><label id="circuit-logic-NO-lbl">NO contact</label><input type="radio" class="circuit-radio" name="circuit_logic" value="1"/></div>
        </div>
    </div>
    <!--durable switching-->
    <div class="bj-config-setting-div actuator1-durable-switching-div" style="border-bottom:none;">
        <div class="bj-config-setting inner-setting actuator1 heading">
            <label class="actuator-durable-switching-lbl">Permanent light ON/OFF</label>
            <div class="bj-actuator-toggle" (click)="showDurableSwitchingSettings = !showDurableSwitchingSettings">
                <down-nav *ngIf="!showDurableSwitchingSettings"></down-nav>
                <up-nav *ngIf="showDurableSwitchingSettings"></up-nav>
            </div>
        </div>
        <div *ngIf="showDurableSwitchingSettings">
            <div class="bj-config-setting inner-setting actuator1">
                <label class="actuator-durable-switching-lbl">Permanent ON for... (30min-8 h)</label>
                <div class="bj-config-setting-adjust durable-switching-function">
                    <div class="adjust-minus" ><span class="glyphicon glyphicon-minus"></span></div>
                    <input class="adjust"type="text"   [ngStyle]="{'color':false? 'red' : '#26394f'}">
                    <div class="adjust-plus" ><span class="glyphicon glyphicon-plus"></span></div>
                </div>
            </div>
            <div class="bj-config-setting inner-setting actuator1">
                <label class="actuator-durable-switching-lbl">Permanent OFF for... (30min-8 h)</label>
                <div class="bj-config-setting-adjust durable-switching-function">
                    <div class="adjust-minus" ><span class="glyphicon glyphicon-minus"></span></div>
                    <input class="adjust"type="text" [ngStyle]="{'color': false ? 'red' : '#26394f'}">
                    <!--<div class="static-unit-text">{{delayTimeLabel}}</div>-->
                    <div class="adjust-plus"><span class="glyphicon glyphicon-plus"></span></div>
                </div>
            </div>
        </div>
    </div>
    <!--soft switching-->
    <div class="bj-config-setting-div actuator1-soft-switching-div" style="border-bottom:none;">
        <div class="bj-config-setting inner-setting actuator1 heading">
            <label class="actuator-soft-switching-lbl">Soft switching of ON/OFF</label>
            <div class="bj-actuator-toggle" (click)="showSoftSwitchingSettings = !showSoftSwitchingSettings">
                <down-nav *ngIf="!showSoftSwitchingSettings"></down-nav>
                <up-nav *ngIf="showSoftSwitchingSettings"></up-nav>
            </div>
        </div>
        <div class="bj-config-setting inner-setting actuator1 soft-on" *ngIf="showSoftSwitchingSettings">
            <label class="actuator-soft-switching-lbl">Soft ON</label><label class="dali-soft-switching-unit" >(1 s - 1 min)</label>
                <span class="bj-config-toggle-switch actuator1">
                   <div class="track"   (click)="ad.actuator1.soft_switching.on.enable = !ad.actuator1.soft_switching.on.enable"  [(ngModel)]="ad.actuator1.soft_switching.on.enable" [ngStyle]="{'border-color': ad.actuator1.soft_switching.on.enable == true ? '#26394f':'#c0c1c3'}" ngDefaultControl>
                         <label class="switch-onlabel" *ngIf="ad.actuator1.soft_switching.on.enable == true">{{onLabel}}</label>
                         <label class="switch-offlabel" *ngIf="!ad.actuator1.soft_switching.on.enable == true">{{offLabel}}</label>
                        <div class="switch" [ngClass]="{'switch-on':ad.actuator1.soft_switching.on.enable == true,'switch-off':!ad.actuator1.soft_switching.on.enable == true }" [ngStyle]="{'background-color':ad.actuator1.soft_switching.on.enable == true ? '#26394f':'#ccc'}"></div>
                   </div>
                </span>
            <div class="bj-config-setting-adjust soft-switching-on-function" *ngIf="ad.actuator1.soft_switching.on.enable" >
                <div class="adjust-minus" ><span class="glyphicon glyphicon-minus"></span></div>
                <input class="adjust"type="text"  [ngStyle]="{'color':false ? 'red' : '#26394f'}">
                <div class="static-unit-text">s</div>
                <div class="adjust-plus" ><span class="glyphicon glyphicon-plus"></span></div>
            </div>
        </div>
        <div class="bj-config-setting inner-setting actuator1 soft-off" *ngIf="showSoftSwitchingSettings">
            <label class="actuator-soft-switching-lbl">Soft OFF</label><label class="dali-soft-switching-unit">(1 s - 1 min)</label>
                <span class="bj-config-toggle-switch actuator1">
                   <div class="track"   (click)="ad.actuator1.soft_switching.off.enable = !ad.actuator1.soft_switching.off.enable"  [(ngModel)]="ad.actuator1.soft_switching.off.enable" [ngStyle]="{'border-color': ad.actuator1.soft_switching.off.enable == true ? '#26394f':'#c0c1c3'}" ngDefaultControl>
                         <label class="switch-onlabel" *ngIf="ad.actuator1.soft_switching.off.enable == true">{{onLabel}}</label>
                         <label class="switch-offlabel" *ngIf="!ad.actuator1.soft_switching.off.enable == true">{{offLabel}}</label>
                        <div class="switch" [ngClass]="{'switch-on':ad.actuator1.soft_switching.off.enable == true,'switch-off':!ad.actuator1.soft_switching.off.enable == true }" [ngStyle]="{'background-color':ad.actuator1.soft_switching.off.enable == true ? '#26394f':'#ccc'}"></div>
                   </div>
                </span>
            <div class="bj-config-setting-adjust soft-switching-off-function" *ngIf="ad.actuator1.soft_switching.off.enable">
                <div class="adjust-minus"><span class="glyphicon glyphicon-minus"></span></div>
                <input class="adjust"type="text" [ngStyle]="{'color':false ? 'red' : '#26394f'}">
                <div class="static-unit-text">s</div>
                <div class="adjust-plus"><span class="glyphicon glyphicon-plus"></span></div>
            </div>
        </div>

        <div class="bj-config-setting inner-setting phase-load" style="padding-left: 0;" *ngIf="showSoftSwitchingSettings" >
            <label class="actuator-phase-load-lbl" style="margin-left: 18px;">Dimming mode</label>
            <div class="bj-config-setting inner-setting actuator1"><label id="phase-load-leading">Leading edge</label><input type="radio" class="circuit-radio" name="phase_load" value="0"/></div>
            <div class="bj-config-setting inner-setting actuator1"><label id="phase-load-trailing">Trailing edge</label><input type="radio" class="circuit-radio"  name="phase_load" value="1"/></div>
        </div>
    </div>
    <!--misc settings-->
    <div class="bj-config-setting-div actuator1-misc-settings-div" style="border-bottom:none;">
        <div class="bj-config-setting inner-setting actuator1 heading">
            <label class="actuator-misc-settings-lbl">Additional Settings</label>
            <div class="bj-actuator-toggle" (click)="showMiscSettings = !showMiscSettings">
                <down-nav *ngIf="!showMiscSettings"></down-nav>
                <up-nav *ngIf="showMiscSettings"></up-nav>
            </div>
        </div>
        <div *ngIf="showMiscSettings">
                <div class="bj-config-setting inner-setting actuator1 memory-function">
                    <label class="actuator-memory-function-lbl">Switch-off pre-warning</label>
                     <span class="bj-config-toggle-switch actuator1">
                         <div class="track"   (click)="ad.actuator1.misc_settings.switch_off_pre_warning = !ad.actuator1.misc_settings.switch_off_pre_warning"  [(ngModel)]="ad.actuator1.misc_settings.switch_off_pre_warning" [ngStyle]="{'border-color': ad.actuator1.misc_settings.switch_off_pre_warning== true ? '#26394f':'#c0c1c3'}" ngDefaultControl>
                         <label class="switch-onlabel" *ngIf="ad.actuator1.misc_settings.switch_off_pre_warning == true">{{onLabel}}</label>
                         <label class="switch-offlabel" *ngIf="!ad.actuator1.misc_settings.switch_off_pre_warning == true">{{offLabel}}</label>
                        <div class="switch" [ngClass]="{'switch-on':ad.actuator1.misc_settings.switch_off_pre_warning == true,'switch-off':!ad.actuator1.misc_settings.switch_off_pre_warning == true }" [ngStyle]="{'background-color':ad.actuator1.misc_settings.switch_off_pre_warning == true ? '#26394f':'#ccc'}"></div>
                   </div>
                     </span>
                </div>
                <div class="bj-config-setting inner-setting actuator1 memory-function">
                    <label class="actuator-memory-function-lbl">Memory function</label>
                     <span class="bj-config-toggle-switch actuator1">
                        <div class="track"   (click)="ad.actuator1.misc_settings.switch_on_with_last_brightness = !ad.actuator1.misc_settings.switch_on_with_last_brightness"  [(ngModel)]="ad.actuator1.misc_settings.switch_on_with_last_brightness" [ngStyle]="{'border-color': ad.actuator1.misc_settings.switch_on_with_last_brightness== true ? '#26394f':'#c0c1c3'}" ngDefaultControl>
                        <label class="switch-onlabel" *ngIf="ad.actuator1.misc_settings.switch_on_with_last_brightness == true">{{onLabel}}</label>
                        <label class="switch-offlabel" *ngIf="!ad.actuator1.misc_settings.switch_on_with_last_brightness == true">{{offLabel}}</label>
                            <div class="switch" [ngClass]="{'switch-on':ad.actuator1.misc_settings.switch_on_with_last_brightness == true,'switch-off':!ad.actuator1.misc_settings.switch_on_with_last_brightness == true }" [ngStyle]="{'background-color':ad.actuator1.misc_settings.switch_on_with_last_brightness == true ? '#26394f':'#ccc'}">
                        </div>
                        </div>
                     </span>
                </div>
                <div class="bj-config-setting inner-setting actuator1 delimit-lighting">
                    <label class="actuator-delimit-lighting-lbl">Limit room brightness</label>
                     <span class="bj-config-toggle-switch actuator1">
                         <div class="track"   (click)="ad.actuator1.misc_settings.limit_of_room_brightness = !ad.actuator1.misc_settings.limit_of_room_brightness"  [(ngModel)]="ad.actuator1.misc_settings.limit_of_room_brightness" [ngStyle]="{'border-color': ad.actuator1.misc_settings.limit_of_room_brightness== true ? '#26394f':'#c0c1c3'}" ngDefaultControl>
                        <label class="switch-onlabel" *ngIf="ad.actuator1.misc_settings.limit_of_room_brightness == true">{{onLabel}}</label>
                        <label class="switch-offlabel" *ngIf="!ad.actuator1.misc_settings.limit_of_room_brightness == true">{{offLabel}}</label>
                        <div class="switch" [ngClass]="{'switch-on':ad.actuator1.misc_settings.limit_of_room_brightness == true,'switch-off':!ad.actuator1.misc_settings.switch_on_with_last_brightness == true }" [ngStyle]="{'background-color':ad.actuator1.misc_settings.limit_of_room_brightness == true ? '#26394f':'#ccc'}">
                        </div>
                        </div>
                     </span>
                </div>

            <div class="bj-config-setting inner-setting actuator1 min-load">
                <label class="actuator-min-load-lbl">Minimum load</label>
                <span class="bj-config-toggle-switch actuator1">
                    <div class="track"   (click)="ad.actuator1.misc_settings.load_output.minimum.enable = !ad.actuator1.misc_settings.load_output.minimum.enable "  [(ngModel)]="ad.actuator1.misc_settings.load_output.minimum.enable " [ngStyle]="{'border-color': ad.actuator1.misc_settings.load_output.minimum.enable == true ? '#26394f':'#c0c1c3'}" ngDefaultControl>
                        <label class="switch-onlabel" *ngIf="ad.actuator1.misc_settings.load_output.minimum.enable  == true">{{onLabel}}</label>
                        <label class="switch-offlabel" *ngIf="!ad.actuator1.misc_settings.load_output.minimum.enable  == true">{{offLabel}}</label>
                        <div class="switch" [ngClass]="{'switch-on':ad.actuator1.misc_settings.load_output.minimum.enable  == true,'switch-off':!ad.actuator1.misc_settings.load_output.minimum.enable  == true }" [ngStyle]="{'background-color':ad.actuator1.misc_settings.load_output.minimum.enable  == true ? '#26394f':'#ccc'}">
                        </div>
                        </div>
                </span>
                <div class="bj-config-setting-adjust min-load-function" *ngIf="ad.actuator1.misc_settings.load_output.minimum.enable">
                    <div class="adjust-minus" ><span class="glyphicon glyphicon-minus"></span></div>
                    <input class="adjust"type="text">
                    <!--<div class="static-unit-text">{{delayTimeLabel}}</div>-->
                    <div class="adjust-plus"><span class="glyphicon glyphicon-plus"></span></div>
                </div>
            </div>
            <div class="bj-config-setting inner-setting actuator1 max-load">
                <label class="actuator-max-load-lbl">Maximum load</label>
                <span class="bj-config-toggle-switch actuator1">
                   <div class="track"   (click)="ad.actuator1.misc_settings.load_output.maximum.on = !ad.actuator1.misc_settings.load_output.maximum.on"  [(ngModel)]="ad.actuator1.misc_settings.load_output.maximum.on" [ngStyle]="{'border-color': ad.actuator1.misc_settings.load_output.maximum.on == true ? '#26394f':'#c0c1c3'}" ngDefaultControl>
                        <label class="switch-onlabel" *ngIf="ad.actuator1.misc_settings.load_output.maximum.on  == true">{{onLabel}}</label>
                        <label class="switch-offlabel" *ngIf="!ad.actuator1.misc_settings.load_output.maximum.on  == true">{{offLabel}}</label>
                        <div class="switch" [ngClass]="{'switch-on':ad.actuator1.misc_settings.load_output.maximum.on  == true,'switch-off':!ad.actuator1.misc_settings.load_output.maximum.on  == true }" [ngStyle]="{'background-color':ad.actuator1.misc_settings.load_output.maximum.on  == true ? '#26394f':'#ccc'}">
                        </div>
                        </div>
                </span>
                <div class="bj-config-setting-adjust max-load-function" *ngIf="ad.actuator1.misc_settings.load_output.maximum.on">
                    <div class="adjust-minus" ><span class="glyphicon glyphicon-minus"></span></div>
                    <input class="adjust"type="text" >
                    <!--<div class="static-unit-text">{{delayTimeLabel}}</div>-->
                    <div class="adjust-plus"><span class="glyphicon glyphicon-plus"></span></div>
                </div>
            </div>
        </div>
    </div>
    <!--DALI settings-->
    <div class="bj-config-setting-div actuator1-dali-settings-div" style="border-bottom:none;">
        <div class="bj-config-setting inner-setting actuator1 heading">
            <label class="actuator-dali-settings-lbl">DALI Settings</label>
            <div class="bj-actuator-toggle" (click)="showDaliSettings = !showDaliSettings">
                <down-nav *ngIf="!showDaliSettings"></down-nav>
                <up-nav *ngIf="showDaliSettings"></up-nav>
            </div>
        </div>
        <div *ngIf="showDaliSettings">
            <div class="bj-config-setting inner-setting actuator1 master-slave-function">
                <label class="actuator-master-slave-lbl">Use master in slave operation</label>
                 <span class="bj-config-toggle-switch actuator1">
                         <div class="track"   (click)="ad.commissioning.use_master_in_slave_mode = !ad.commissioning.use_master_in_slave_mode"  [(ngModel)]="ad.commissioning.use_master_in_slave_mode" [ngStyle]="{'border-color': ad.commissioning.use_master_in_slave_mode == true ? '#26394f':'#c0c1c3'}" ngDefaultControl>
                        <label class="switch-onlabel" *ngIf="ad.commissioning.use_master_in_slave_mode  == true">{{onLabel}}</label>
                        <label class="switch-offlabel" *ngIf="!ad.commissioning.use_master_in_slave_mode  == true">{{offLabel}}</label>
                        <div class="switch" [ngClass]="{'switch-on':ad.commissioning.use_master_in_slave_mode  == true,'switch-off':!ad.commissioning.use_master_in_slave_mode  == true }" [ngStyle]="{'background-color':ad.commissioning.use_master_in_slave_mode  == true ? '#26394f':'#ccc'}">
                        </div>
                        </div>
                 </span>
            </div>
            <label class="bj-config-lbl sensor-div">Power ON level</label>
                <div class="bj-config-setting inner-setting actuator1"><label id="power-off-lbl">OFF</label><input type="radio" class="circuit-radio"   name="power_level" value="0"/></div>
                <div class="bj-config-setting inner-setting actuator1"><label id="power-memo-lbl">Memo</label><input type="radio" class="circuit-radio" name="power_level" value="1"/></div>
                <div class="bj-config-setting inner-setting actuator1"><label id="power-100-lbl">100%</label><input type="radio" class="circuit-radio"  name="power_level" value="2"/></div>
            <div class="bj-config-setting actuator1 reset">
                <label class="bj-config-setting reset-inner-block">Reset control gear</label><span class="glyphicon glyphicon-stop"></span>
            </div>
        </div>
    </div>
    <!--fluorescent lamp settings-->
    <div class="bj-config-setting-div actuator1-fluorescent-settings-div" style="border-bottom:none;">
        <div class="bj-config-setting inner-setting actuator1 heading">
            <label class="actuator-fluorescent-settings-lbl">Fluorescent lamps</label>
            <div class="bj-actuator-toggle" (click)="showFluorescentSettings =!showFluorescentSettings">
                <down-nav *ngIf="!showFluorescentSettings"></down-nav>
                <up-nav *ngIf="showFluorescentSettings"></up-nav>
            </div>
        </div>
        <div *ngIf="showFluorescentSettings">
            <div class="bj-config-setting inner-setting actuator1 fluorescent-function">
                <label class="actuator-fluorescent-lbl">Burn in function</label>
                 <span class="bj-config-toggle-switch actuator1">
                          <div class="track"   (click)="ad.actuator1.fluorescent_lamps.burn_in_function = !ad.actuator1.fluorescent_lamps.burn_in_function"  [(ngModel)]="ad.actuator1.fluorescent_lamps.burn_in_function" [ngStyle]="{'border-color': ad.actuator1.fluorescent_lamps.burn_in_function == true ? '#26394f':'#c0c1c3'}" ngDefaultControl>
                        <label class="switch-onlabel" *ngIf="ad.actuator1.fluorescent_lamps.burn_in_function  == true">{{onLabel}}</label>
                        <label class="switch-offlabel" *ngIf="!ad.actuator1.fluorescent_lamps.burn_in_function  == true">{{offLabel}}</label>
                        <div class="switch" [ngClass]="{'switch-on':ad.actuator1.fluorescent_lamps.burn_in_function  == true,'switch-off':!ad.actuator1.fluorescent_lamps.burn_in_function  == true }" [ngStyle]="{'background-color':ad.actuator1.fluorescent_lamps.burn_in_function  == true ? '#26394f':'#ccc'}">
                        </div>
                          </div>
                 </span>
            </div>
            <div *ngIf="ad.actuator1.fluorescent_lamps.burn_in_function">
                    <label class="bj-config-lbl sensor-div" >Burn in mode</label>
                    <div class="bj-config-setting inner-setting actuator1" ><label id="burn-steady-lbl">Steady</label><input type="radio" class="circuit-radio"  name="burn_in_mode" value="0"/></div>
                    <div class="bj-config-setting inner-setting actuator1" ><label id="burn-accumulated-lbl">Accumulated</label><input type="radio" class="circuit-radio" name="burn_in_mode" value="1"/></div>
                <div class="bj-config-setting inner-setting actuator1 burnInTime" >
                    <label class="actuator-burinin-switching-lbl">Duration for burn in(1h - 250 h)</label>
                    <div class="bj-config-setting-adjust durable-switching-function">
                        <div class="adjust-minus" ><span class="glyphicon glyphicon-minus"></span></div>
                        <input class="adjust"type="text"  [ngStyle]="{'color': false ? 'red' : '#26394f'}">
                        <div class="static-unit-text">h</div>
                        <div class="adjust-plus"><span class="glyphicon glyphicon-plus"></span></div>
                    </div>
                </div>
                <div class="bj-config-setting actuator1 reset">
                    <label class="bj-config-setting reset-inner-block">Reset operating hours</label><span class="glyphicon glyphicon-stop" ></span>
                </div>
            </div>
        </div>
    </div>
    <!--basic illumination settings-->
    <div class="bj-config-setting-div actuator1-basic-illumination-div" style="border-bottom:none;" >
        <div class="bj-config-setting inner-setting actuator1 heading">
            <label class="actuator-basic-illumination-lbl">Basic brightness</label>
            <div class="bj-actuator-toggle" (click)="showBasicIlluminationSettings = !showBasicIlluminationSettings">
                <down-nav *ngIf="!showBasicIlluminationSettings"></down-nav>
                <up-nav *ngIf="showBasicIlluminationSettings"></up-nav>
            </div>
        </div>
        <div *ngIf="showBasicIlluminationSettings">
            <div class="bj-config-setting inner-setting actuator1"><label id="illumination-mode-off">OFF</label><input type="radio" class="circuit-radio"  name="illuminiation-mode" value="0"/></div>
            <div class="bj-config-setting inner-setting actuator1"><label id="illumination-mode-time">Determined by time</label><input type="radio" class="circuit-radio"  name="illuminiation-mode" value="1"/></div>
            <div class="bj-config-setting inner-setting actuator1"><label id="illumination-mode-brigtness">Determined by brightness</label><input type="radio" class="circuit-radio"  name="illuminiation-mode" value="2"/></div>
            <div class="bj-config-setting inner-setting actuator1" >
                <label class="actuator-basic-illumniation-lbl">Basic illumination level</label>
                <div class="bj-actuator1-slider">
                    <input class = "illumination-range" type="range" name="points" min="0" max="100" step="1">
                    <div class="illumination-value-disp">48%</div>
                </div>
            </div>
            <div class="bj-config-setting inner-setting actuator1" >
                <label class="actuator-ambient-brightness-lbl">Ambient brightness threshold</label>
                <div class="bj-actuator1-slider">
                    <input class = "ambient-brightness-range" type="range" name="points" min="0" max="500" step="1">
                    <div class="ambient-brightness-value-disp">1000lx</div>
                </div>
            </div>
            <div class="bj-config-setting inner-setting actuator1" >
                <label class="actuator-illumination-start-time-lbl">Start time</label>
                <div class="bj-config-setting-adjust illumination-start-function">
                    <div class="adjust-minus"><span class="glyphicon glyphicon-minus"></span></div>
                    <input class="adjust"type="text"   [ngStyle]="{'color': true ? 'red' : '#26394f'}">
                    <div class="static-unit-text">h</div>
                    <div class="adjust-plus"><span class="glyphicon glyphicon-plus"></span></div>
                </div>
                <label class="actuator-illumination-end-time-lbl">End time</label>
                <div class="bj-config-setting-adjust illumination-end-function">
                    <div class="adjust-minus" ><span class="glyphicon glyphicon-minus"></span></div>
                    <input class="adjust"type="text"  [ngStyle]="{'color':true ? 'red' : '#26394f'}">
                    <div class="static-unit-text">h</div>
                    <div class="adjust-plus" ><span class="glyphicon glyphicon-plus"></span></div>
                </div>
            </div>
            <div class="bj-config-setting inner-setting actuator1 astro-function" >
                <label class="astro-function-lbl">Astro function</label>
                 <span class="bj-config-toggle-switch actuator1">
                          <div class="track"   (click)="ad.actuator1.basic_illumination.astro_function = !ad.actuator1.basic_illumination.astro_function"  [(ngModel)]="ad.actuator1.basic_illumination.astro_function" [ngStyle]="{'border-color': ad.actuator1.basic_illumination.astro_function == true ? '#26394f':'#c0c1c3'}" ngDefaultControl>
                        <label class="switch-onlabel" *ngIf="ad.actuator1.basic_illumination.astro_function == true">{{onLabel}}</label>
                        <label class="switch-offlabel" *ngIf="!ad.actuator1.basic_illumination.astro_function  == true">{{offLabel}}</label>
                        <div class="switch" [ngClass]="{'switch-on':ad.actuator1.basic_illumination.astro_function  == true,'switch-off':!ad.actuator1.basic_illumination.astro_function  == true }" [ngStyle]="{'background-color':ad.actuator1.basic_illumination.astro_function  == true ? '#26394f':'#ccc'}">
                        </div>
                          </div>
                 </span>
            </div>
        </div>
    </div>
  <!--night time anti-glare-->
    <div class="bj-config-setting-div actuator1-night-anti-glare-div" style="border-bottom:none;">
        <div class="bj-config-setting inner-setting actuator1 heading">
            <label class="actuator-night-anti-glare-lbl">Night light </label>
            <div class="bj-actuator-toggle"(click)="showNightAntiGlareSettings = !showNightAntiGlareSettings" >
                <down-nav *ngIf="!showNightAntiGlareSettings"></down-nav>
                <up-nav *ngIf="showNightAntiGlareSettings"></up-nav>
            </div>
        </div>
        <div class="bj-config-setting inner-setting actuator1 anti-glare-function" *ngIf="showNightAntiGlareSettings" >
           <div class="anti-glare-function-div">
            <label class="anti-glare-function-lbl">Night light </label>
                 <span class="bj-config-toggle-switch actuator1">
                          <div class="track"   (click)="ad.actuator1.night_time_anti_glare_function.enable = !ad.actuator1.night_time_anti_glare_function.enable"  [(ngModel)]="ad.actuator1.night_time_anti_glare_function.enable" [ngStyle]="{'border-color': ad.actuator1.night_time_anti_glare_function.enable == true ? '#26394f':'#c0c1c3'}" ngDefaultControl>
                        <label class="switch-onlabel" *ngIf="ad.actuator1.night_time_anti_glare_function.enable == true">{{onLabel}}</label>
                        <label class="switch-offlabel" *ngIf="!ad.actuator1.night_time_anti_glare_function.enable  == true">{{offLabel}}</label>
                        <div class="switch" [ngClass]="{'switch-on':ad.actuator1.night_time_anti_glare_function.enable  == true,'switch-off':!ad.actuator1.night_time_anti_glare_function.enable  == true }" [ngStyle]="{'background-color':ad.actuator1.night_time_anti_glare_function.enable  == true ? '#26394f':'#ccc'}">
                        </div>
                          </div>
                 </span>
           </div>
           <div *ngIf="ad.actuator1.night_time_anti_glare_function.enable ">
                <div class="anti-glare-start-end-time-div">
                    <label class="actuator-anti-glare-start-time-lbl">Start time</label>
                    <div class="bj-config-setting-adjust anti-glare-start-function">
                        <div class="adjust-minus" ><span class="glyphicon glyphicon-minus"></span></div>
                        <input class="adjust"type="text" [ngStyle]="{'color':false ? 'red' : '#26394f'}">
                        <div class="static-unit-text">s</div>
                        <div class="adjust-plus" ><span class="glyphicon glyphicon-plus"></span></div>
                    </div>
                    <label class="actuator-anti-glare-end-time-lbl">End time</label>
                    <div class="bj-config-setting-adjust anti-glare-end-function">
                        <div class="adjust-minus" ><span class="glyphicon glyphicon-minus"></span></div>
                        <input class="adjust"type="text" [ngStyle]="{'color':false ? 'red' : '#26394f'}">
                        <div class="static-unit-text">s</div>
                        <div class="adjust-plus"><span class="glyphicon glyphicon-plus"></span></div>
                    </div>
                </div>
                <div class="anti-glare-level-div">
                    <label class="actuator-anti-glare-level-lbl">Illumination level</label>
                    <div class="bj-actuator1-slider">
                        <input class = "anti-glare-level-range" type="range" name="points" min="0" max="100" step="1" >
                        <div class="anti-glare-level-value-disp">48%</div>
                    </div>
                </div>
           </div>
        </div>
    </div>
    <!--time-shifted switch off-->
    <div class="bj-config-setting-div actuator1-time-shifted-switchoff-div" style="border-bottom:none;">
        <div class="bj-config-setting inner-setting actuator1 heading">
            <label class="actuator-time-shifted-switchoff-lbl">Stepwise switch-off</label>
            <div class="bj-actuator-toggle" (click)="showTimeShiftedSwitchOffSettings =!showTimeShiftedSwitchOffSettings">
                <down-nav *ngIf="!showTimeShiftedSwitchOffSettings"></down-nav>
                <up-nav *ngIf="showTimeShiftedSwitchOffSettings"></up-nav>
            </div>
        </div>
        <div class="bj-config-setting inner-setting actuator1 time-shift-function" *ngIf="showTimeShiftedSwitchOffSettings">
            <div class="time-shift-function-div">
                <label class="time-shift-function-lbl">Stepwise switch-off</label>
                 <span class="bj-config-toggle-switch actuator1">
                          <div class="track"   (click)="ad.actuator1.time_shifted_switch_off.enable = !ad.actuator1.time_shifted_switch_off.enable"  [(ngModel)]="ad.actuator1.time_shifted_switch_off.enable" [ngStyle]="{'border-color': ad.actuator1.time_shifted_switch_off.enable == true ? '#26394f':'#c0c1c3'}" ngDefaultControl>
                        <label class="switch-onlabel" *ngIf="ad.actuator1.time_shifted_switch_off.enable == true">{{onLabel}}</label>
                        <label class="switch-offlabel" *ngIf="!ad.actuator1.time_shifted_switch_off.enable == true">{{offLabel}}</label>
                        <div class="switch" [ngClass]="{'switch-on':ad.actuator1.time_shifted_switch_off.enable  == true,'switch-off':!ad.actuator1.time_shifted_switch_off.enable  == true }" [ngStyle]="{'background-color':ad.actuator1.time_shifted_switch_off.enable  == true ? '#26394f':'#ccc'}">
                        </div>
                          </div>
                 </span>
            </div>
            <div class="time-shift-settings-div" *ngIf="ad.actuator1.time_shifted_switch_off.enable" >
                <label class="actuator-time-shift-switchoff-time-lbl">Switch-off time (30 s-51 min)</label>
                <div class="bj-config-setting-adjust time-shift-switchoff-function">
                    <div class="adjust-minus" ><span class="glyphicon glyphicon-minus"></span></div>
                    <input class="adjust"type="text"  [ngStyle]="{'color':false ? 'red' : '#26394f'}">
                    <div class="static-unit-text">s</div>
                    <div class="adjust-plus" ><span class="glyphicon glyphicon-plus"></span></div>
                </div>
                <label class="actuator-time-shift-brightness-lbl">Brightness of intermediate state</label>
                <div class="bj-config-setting-adjust time-shift-brightness-function">
                    <div class="adjust-minus" ><span class="glyphicon glyphicon-minus"></span></div>
                    <input class="adjust"type="text"  [ngStyle]="{'color':false? 'red' : '#26394f'}">
                    <div class="static-unit-text">s</div>
                    <div class="adjust-plus" ><span class="glyphicon glyphicon-plus"></span></div>
                </div>
            </div>
         </div>
    </div>
</div>
</div>